.type_example__sample_text {
	color: #1F2041;

	&_tag_h1 {
		font-family: 'Quicksand-Bold';
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
	}

	&_tag_h2 {
		font-family: 'Quicksand-Bold';
		font-weight: bold;
		font-size: 19px;
		line-height: 24px;
	}

	&_tag_h3 {
		font-family: 'Montserrat-Bold';
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
	}

	&_tag_body {
		width: 301px;
		font-family: 'Montserrat-Regular';
		font-size: 14px;
		line-height: 21px;
		color: rgba(31, 32, 65, .75);
		height: 48px;
	}
}
