@import "../../settings.scss";

.form_dropdown {
  &__label {
    display: block;
    padding: 3px 0 5px 0;
  }

  //input styles
  &__input {
    border: none;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: $dark-75;
    cursor: inherit;
    padding-left: 15px;

    &::placeholder {
      color: $dark-75;
    }

    &:hover,
    &:focus {
      outline: none;
    }
  }
}

//Добавление кнопок очистить и применить
.iqdropdown-menu-control-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 12px;

  .button-clear {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark-50;
    padding: 0;
    border: none;
  }

  .button-apply {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $primary-purple;
    padding: 0;
    border: none;
  }
}

//editing plugin styles
.iqdropdown {
  height: 44px;
  border: 1px solid $dark-25;
  background-color: #fff;
  padding-right: 0;
  border-radius: 4px;

  .iqdropdown-menu {
    width: calc(100% + 2px);
    background: #ffffff;
    border: 1px solid $dark-50;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $dark-5;
    margin: 0;
    top: 42px;
    left: -1px;
    border-radius: 0 0 2px 2px;
    padding: 6px 6px 0 14px;
  }

  &.menu-open {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 4px 4px 0 0;

    .iqdropdown-selection {
      &::after {
        background: none;
      }
    }
  }

  .iqdropdown-selection {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $dark-75;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: 160px;

    &::after {
      display: none;
    }

    &-wrapper {
      width: 100%;
      display: grid;
      align-items: center;
      grid-template-columns: 160px 44px;
      justify-content: space-between;

      &::after {
        font-family: "Material Icons";
        width: 44px;
        height: 44px;
        font-size: 24px;
        line-height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        content: "expand_more";
        background: none;
        top: -13px;
        padding: 1px;
      }
    }
  }

  .iqdropdown-menu-option {
    height: auto;
    padding: 0 0 7px 0;
  }

  &-item {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 15px;
    color: $dark-100;
    padding-bottom: 1px;
  }

  .iqdropdown-item-controls {
    align-items: center;
    height: auto;
    width: 92px;
    justify-content: space-between;

    button.button-decrement {
      width: 30px;
      height: 30px;
      border: 1px solid $dark-25;
      border-radius: 50%;
      padding: 0;
      justify-content: center;

      &::after {
        content: "-";
        color: $dark-50;
      }
    }

    button.button-decrement-disabled {
      opacity: 0.38;
    }

    button.button-increment {
      width: 30px;
      height: 30px;
      border: 1px solid $dark-25;
      border-radius: 50%;
      padding: 0;
      justify-content: center;

      &::after {
        content: "+";
        color: $dark-50;
      }
    }

    button.button-increment-disabled {
      opacity: 0.38;
    }

    .icon-decrement {
      display: none;
    }

    .counter {
      padding: 0;
      border: none;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      text-transform: uppercase;
      color: $dark-100;
      padding: 0 12px 3px;
    }
  }
}
