@import '../../settings.scss';

.room-details {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto auto;

  &__images-block {
    height: 34.68vw;
    width: 100%;

    @media screen and (max-width: 57.625rem) {
      height: 15.25rem;
    }

    @media screen and (max-width: 41.875rem) {
      grid-template-columns: 1fr;
    }
  }

  &__details-block {
    width: 100%;
    max-width: 72.5rem;
    margin: 4.375rem auto 2.3125rem;
    display: grid;
    grid-template-columns: 1fr 23.75rem;
    column-gap: 4.375rem;

    @media screen and (max-width: 1220px) {
      grid-template-columns: 1fr;
      row-gap: 3.125rem;
      padding-left: 1.875rem;
      padding-right: 1.875rem;
    }

    @media screen and (max-width: 27.5rem) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__info-block {
    display: flex;
    flex-wrap: wrap;
    max-width: 44.375rem;
    margin: auto;

    @media screen and (max-width: 27.5rem) {
      max-width: 23.75rem;
      margin-right: auto;
      margin-left: auto;
    }

    @media screen and (max-width: 23.75rem) {
      padding-left: 0.625rem;
      padding-right: 0.625rem;
    }

    & > div:nth-child(n) {
      margin-bottom: 2.125rem;
    }
  }

  &__room-info {
    flex: 0 0 17.5rem;
    margin-right: 5.0625rem;

    @media screen and (max-width: 41.875rem) {
      margin-right: 0;
    }

    &-label {
      margin-bottom: 1.25rem;
    }
  }

  &__guest-reviews-block {
    flex: 1 0 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 1.1875rem;

    @media screen and (max-width: 23.75rem) {
      grid-template-columns: auto minmax(4.375rem, 1fr);
    }
  }

  &__guest-reviews-count {
    justify-self: right;
  }

  &__guest-reviews {
    grid-column: 1/3;
    display: grid;
    row-gap: 1.4375rem;
  }

  &__room-rules-block {
    flex: 0 0 18.125rem
  }

  &__room-rules-title {
    padding-left: 1.25rem;
    margin-bottom: 0.5rem;
  }

  &__booking-form {

    @media screen and (max-width: 1220px) {
      width: 100%;
      max-width: 23.75rem;
      margin: auto;
    }

    @media screen and (max-width: 23.75rem) {
      width: 100%;
    }
  }

  &__cancel-reservation {
    flex: 1 1 20rem;
    margin-left: auto;
    max-width: 21.8125rem;

    @media screen and (max-width: 41.875rem) {
      margin-left: 0;
    }
  }

  &__cancel-reservation-label {
    margin-bottom: 1.0625rem;
  }

  &__cancel-reservation-text {
    max-width: 21.3125rem;
  }

  &__delimiter {
    max-width: 90rem;
    width: 100%;
    margin: auto;
    height: 0.0625rem;
    background-color: $dark-25;
  }

  &__footer {
    border-top: 0.0625rem solid $dark-75;
  }
}
