@import '../../settings.scss';

.room_details {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  &__details_block {
    width: 100%;
    max-width: 1160px;
    margin: 70px auto;
    display: grid;
    grid-template-columns: 1fr minmax(320px, 380px);
    column-gap: 70px;
    
  }

  &__info_block {
    display: grid;
    grid-template-columns: 280px 1fr;
    row-gap: 30px;
    column-gap: 81px;
  }

  &__guest_reviews_block {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__guest_reviews_count {
    justify-self: right;
  }

  &__guest_reviews {
    grid-column: 1/3;
  }

  &__cancel_reservation {
    max-width: 341px;
  }

  &__cancel_reservation_label {
    margin-bottom: 17px;
  }
}