extends ../base/base

block variables
  include ../../components/header/header
  include ../../components/navigation-footer/navigation-footer
  include ../../components/room-rate-card/room-rate-card
  include ../../components/bullet-list/bullet-list
  include ../../components/comment-block/comment-block
  include ../../components/icon-item/icon-item
  include ../../components/pie-chart/pie-chart
  include ../../components/room-images/room-images
  
  -
    const pageTitle = 'Room Details';
    const data = htmlWebpackPlugin.options.getData();

block content
  .room-details
    +header({ lang: 'ru', isLoggedIn: false, data })
    .room-details__content
      .room-details__images-block
        +roomImages({ room: 888 })
      .room-details__details-block
        .room-details__info-block
          .room-details__room-info
            h2.room-details__room-info-label Сведения о номере
            .room-details__room-info-items
              +iconItem({
                icon: 'insert_emoticon',
                label: 'Комфорт',
                description: 'Шумопоглощающие стены',
                })
              +iconItem({
                icon: 'location_city',
                label: 'Удобство',
                description: 'Окно в каждой из спален',
              })
              +iconItem({
                icon: 'whatshot',
                label: 'Уют',
                description: 'Номер оснащён камином',
              })
          .room-details__room-impressions
            +pieChart({ label: 'Впечатления от номера' })
          .room-details__guest-reviews-block
            h2.room-details__guest-reviews-label Отзывы посетителей номера
            .room-details__guest-reviews-count 2 отзыва
            .room-details__guest-reviews
              +commentBlock({
                name: 'Мурад Сарафанов',
                date: '5 дней назад',
                comment: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
                likes: {
                  count: '12',
                  checked: true,
                },
              })
              +commentBlock({
                name: 'Патрисия Стёклышкова',
                img: 'avatar-2.png',
                date: 'Неделю назад',
                comment: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент',
                likes: {
                  count: '2',
                  checked: false
              }})
          .room-details__room-rules-block
            h2.room-details__room-rules-title Правила
            -
              const itemList = [
                { label: 'Нельзя с питомцами' },
                { label: 'Без вечеринок и мероприятий' },
                { label: 'Время прибытия — после 13:00, а выезд до 12:00' },
              ];

            +bulletList({ itemList })
          .room-details__cancel-reservation
            h2.room-details__cancel-reservation-label Отмена
            .room-details__cancel-reservation-text= 'Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.'
        .room-details__booking-form
          +roomRateCard()
    .room-details__delimiter
    +navigationFooter({ lang: 'ru', data })
