@import '../../settings.scss';

.room_details {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto auto;

  &__images_block {
    display: grid;
    grid-template-columns: minmax(320px, 981px) 1fr;
    height: 485px;
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }

  &__image:nth-child(1) {
    background-image: url('../../img/room_888.png');
    background-repeat: no-repeat;
    grid-row: 1/3;
  }

  &__image:nth-child(2) {
    background-image: url('../../img/room_888_2.png');
    background-repeat: no-repeat;
  }

  &__image:nth-child(3) {
    background-image: url('../../img/room_888_3.png');
    background-repeat: no-repeat;
  }


  &__details_block {
    width: 100%;
    max-width: 1160px;
    margin: 70px auto;
    display: grid;
    grid-template-columns: 1fr minmax(320px, 380px);
    column-gap: 70px;
  }

  &__info_block {
    display: grid;
    grid-template-columns: 290px 1fr;
    row-gap: 34px;
    column-gap: 71px;
  }

  &__room_info {
    max-width: 280px;
  }

  &__guest_reviews_block {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 19px;
  }

  &__guest_reviews_count {
    justify-self: right;
  }

  &__guest_reviews {
    grid-column: 1/3;
    display: grid;
    row-gap: 23px;
  }

  &__room_rules_title {
    padding-left: 20px;
    margin-bottom: 8px;
  }

  &__cancel_reservation {
    max-width: 341px;
  }

  &__cancel_reservation_label {
    margin-bottom: 17px;
  }

  &__delimiter {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    height: 1px;
    background-color: $dark-25;
  }

  &__footer {
    border-top: 1px solid $dark-75;
  }
}