mixin pagination(params)
  -
    var {numberOfPages, description} = params

  .pagination_block
    #data-container
    .pagination_block__pagination.js-pagination(data-pages=numberOfPages)
    .pagination_block__description=description