mixin pagination(params)
  -
    var {numberOfPages, description, data=[]} = params

  .pagination_block(data-rooms= data)
    #data-container
    .pagination_block__pagination.js-pagination(data-pages=numberOfPages)
    .pagination_block__description=description