.registration_page{height:100vh;max-height:75.6875rem;display:grid;grid-template-rows:auto 1fr auto;background-image:url(img/image4.png)}.registration_page__registration_form{max-width:23.75rem;margin:1.875rem auto auto}

