include ../input/input
include ../button/button

mixin loginCard(params)
  -
    var {label} = params

  form.js-login_card.login_card(action="/mock-address/change-me" method="post" name="login-form")
    h1.login_card__label=label
    .login_card__email_input
      +input({
        type: "email",
        placeholder: "email",
        name: "email"
        })(required=true)
    .login_card__pass_input
      +input({
        type: "password",
        placeholder: "Пароль",
        name: "password"
      })(required=true)
    .login_card__submit_button
      +button({
        label: "войти",
        type: "submit",
        filled: true,
        arrow: true
        })

    .login_card__options
      .login_card__option_label Нет аккаунта на Toxin?
      a.login_card__option_button(href="./registration-page.html")
        +button({
          label: "создать",
          })