include ../input/input
include ../button/button

mixin loginCard({ label })
  form.js-login-card.login-card(action="/mock-address/change-me" method="post" name="login-form")
    h1.login-card__label= label
    .login-card__email-input
      +input({
        type: 'email',
        placeholder: 'Email',
        name: 'email',
        })(required=true)
    .login-card__pass-input
      +input({
        type: 'password',
        placeholder: 'Пароль',
        name: 'password'
      })(required=true)
    .login-card__submit-button
      +button({
        label: 'войти',
        type: 'submit',
        theme: 'filled',
        arrow: true,
        })
    .login-card__options
      .login-card__option-label Нет аккаунта на Toxin?
      a.login-card__option-button(href="./registration-page.html")
        +button({ label: 'создать', theme: 'outline' })
