@import 'air-datepicker/dist/css/datepicker.min';

.datepicker-block {

  &__label {
    @include h3-text;
    display: block;
    padding: 0.1875rem 0 0.3125rem 0;
  }
}

.datepicker-block_separated {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(45%, 9.375rem));
  grid-column-gap: 1.25rem;
}

.datepicker-block__input-wrapper {
  font: 0.875rem/1.7143 Montserrat, Arial, sans-serif;
  color: $dark-75;
  height: 2.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border: 0.0625rem solid $dark-25;
  box-sizing: border-box;
  border-radius: 0.25rem;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: 0px 0px 10px $primary-green;
  }

  &::after {
    font: 1.5rem/1.8333 'Material Icons';
    width: 2.625rem;
    height: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'expand_more';
    top: -0.8125rem;
  }
}

.datepicker-block__input,
.datepicker-block__end-date-input {
  font: 0.875rem/1.2857 Montserrat, Arial, sans-serif;
  padding: 0.0625rem 0 0 0.875rem;
  cursor: inherit;
  border: none;
  box-sizing: border-box;
  color: $dark-75;
  max-width: calc(100% - 2.75rem);

  &:hover,
  &:focus {
    outline: none;
  }

  &::placeholder {
    font: normal 0.875rem/1.2857 Montserrat, Arial, sans-serif;
    color: $dark-75;
  }
}


//editing plugin styles
.datepicker--cell-day.-other-month- {
  color: $dark-25;
}

.datepicker-inline .datepicker {
  box-shadow: 0 0.625rem 1.25rem $dark-5;
}

.datepicker {
  width: 20rem;
  background-color: #fff;
  box-sizing: border-box;
  border: 0.0625rem solid $dark-25;
  border-radius: 0.25rem;
  box-shadow: 0 0.625rem 1.25rem $dark-5;
  padding: 1.25rem;
  z-index: 100000;

  &--pointer {
    display: none;
  }

  &--nav {
    padding: 0;
    border: none;

    &-title {
      font: bold 1.1875rem/1.263 Quicksand, 'Open Sans', sans-serif;
      text-align: center;
      color: $dark-100;
      display: inline-block;
      vertical-align: middle;
    }

    &-action:nth-child(1) {
      width: 1.5rem;
      height: 1.5rem;

      &::after {
        font: 1.5rem/1 'Material Icons';
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        content: 'arrow_back';
        background: $primary-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      & svg {
        display: none;
      }
    }

      &-action:nth-child(3) {
        width: 1.5rem;
        height: 1.5rem;

        &::after {
          font: 1.5rem/1 'Material Icons';
          width: 1.5rem;
          height: 1.5rem;
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          content: 'arrow_forward';
          background: $primary-gradient;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

      & svg {
        display: none;
      }
    }
  }

  &--content {
    padding: 0;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  &--days-names {
    margin: 0;
  }

  &--day-name {
    font: bold 0.75rem/1.25 Montserrat, 'Open Sans', Arial, sans-serif;
    color: $primary-purple;
    width: 2.5rem;
    height: 2.5rem;
    text-transform: none;
  }

  &--cell {
    padding: 0;
    margin: 0;
    font: normal 0.75rem/1.25 Montserrat, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-50;
    height: 2.5rem;

    &.-range-from- {
      position: relative;
      border: none;
      background: none;

      &::after {
        position: absolute;
        right: 0;
        content: '';
        width: 50%;
        height: 100%;
        background: $primary-gradient;
        opacity: .25;
      }

      &::before {
        position: absolute;
        left: 0;
        content: '';
        width: 50%;
        height: 100%;
        background: $primary-gradient;
        opacity: .25;
        border-bottom-left-radius: 1.375rem;
        border-top-left-radius: 1.375rem;
        border: none;
      }
    }

    &.-range-to- {
      position: relative;
      border: none;
      background: none;

      &::before {
        position: absolute;
        left: 0;
        content: '';
        width: 50%;
        height: 100%;
        background: $primary-gradient;
        opacity: .25;
      }

      &::after {
        position: absolute;
        right: 0;
        content: '';
        width: 50%;
        height: 100%;
        background: $primary-gradient;
        opacity: .25;
        border-bottom-right-radius: 1.375rem;
        border-top-right-radius: 1.375rem;
        border: none;
      }
    }

    &.-in-range- {
      position: relative;
      background: none;

      &::before {
        position: absolute;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background: $primary-gradient;
        opacity: .25;
      }
    }

    &.-selected-,
    &.-selected-:hover{
      background: $primary-gradient;
      border-radius: 1.375rem;
    }

    &.-current- {
      background: $secondary-gradient;
      border-radius: 1.375rem;
      color: white;
    }

    &.-current-.-in-range- {
      color: white;
    }
  }

  &--buttons {
    padding: 0;
    border: none;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }

  &--button {
    display: inline-block;
    flex: 0;
    height: auto;
    font: bold 0.75rem/1.25 Montserrat, Arial, sans-serif;
    text-transform: uppercase;

    &-apply {
      padding: 0;
      display: inline-block;
      flex: 0;
      height: auto;
      font: bold 0.75rem/1.25 Montserrat, Arial, sans-serif;
      text-transform: uppercase;
      color: $primary-purple;
      border: none;
      background: none;
      cursor: pointer;
    }

    &[data-action='clear'] {
      color: $dark-50;
    }
  }
}
