mixin navBarItem(params = {})
  -
    const { label, isNestedList = false, nestedItems = [], isActive = false } = params;
    let classList = 'nav-bar-item';
    if (isNestedList) {
      classList += '_nested js-nav-bar-item_nested';
    }
    if (isActive) {
      classList += ' active';
    }

  if (isNestedList)
    li(class=classList)= label
      ul.nav-bar-item__nested-list.js-nav-bar-item__nested-list
        each item in nestedItems
          +navBarItem(item)
  else
    li(class= classList)
      a.nav-bar-item__link(href=`/mock-address/change-me`)= label
