include __circle/circle
include __line_1/line_1
include __line_2/line_2

mixin logo(width, height, fill, fillOpacity)
	svg.logo(width=width, height=height viewBox="0 0 48 48")
		+circle(fill, fillOpacity)
		+lineOne(fill, fillOpacity)
		+lineTwo(fill, fillOpacity)
