.headers-n-footers {
  min-width: 20rem;
  margin: auto;
  padding-top: 9.375rem;
  background-color: #f4f4f6;
  position: relative;

  display: grid;
  grid-template-columns: auto;
  row-gap: 2.5rem;

  &__logo-wrapper {
    position: relative;
    top: 1.875rem;
    left: calc(50% - 45rem + 1.875rem);

    @media screen and (max-width: 1440px) {
      left: 1.875rem;
    }
  }
}
