@import "../../settings.scss";

.headers_n_footers {
  max-width: 1920px;
  min-width: 320px;
  margin: auto;
  padding-top: 150px;
  background-color: #f4f4f6;
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
}

.logo_wrapper {
  position: absolute;
  top: 30px;
  left: calc(50% - 720px + 30px);
}

@media screen and (max-width: 1440px) {
  .logo_wrapper {
    left: 30px;
  }
}
