extends ../base/base

block variables
  include ../../components/logo/logo
  include ../../components/header/header
  include ../../components/footer/footer
  
  -
    var pageTitle="Headers & Footers"
    data = htmlWebpackPlugin.options.getData()

block content
  .headers_n_footers
    .logo_wrapper
      +logo({width: "48", height: "48", fill: "#1F2041", fillOpacity: ".25"})
    +header( {isLoggedIn: false, data })
    +header( {isLoggedIn: true, data, userName: "Cosmin Negoita" })
    +header( {lang: "ru", isLoggedIn: false, data })
    //- +footer( {lang: "en", data} )
    //- +footer( {lang: "en", data, withWidgets: false} )