extends ../base/base

block variables
  include ../../components/logo/logo
  include ../../components/header/header
  include ../../components/footer/footer

  -
    const pageTitle = 'Headers & Footers';
    const data = htmlWebpackPlugin.options.getData();

block content
  .headers-n-footers
    .headers-n-footers__logo-wrapper
      +logo({ width: '48', height: '48', fill: '#1F2041', fillOpacity: '.25' })
    +header({ isLoggedIn: false, data })
    +header({ isLoggedIn: true, data, userName: 'Cosmin Negoita' })
    +footer({ lang: 'en', data })
    +footer({ lang: 'en', data, withWidgets: false })
