extends ../base/base

block variables
  include ../../components/logo/logo
  include ../../components/header/header
  include ../../components/footer/footer
  include ../../components/navigation-footer/navigation-footer

  -
    const pageTitle = 'Headers & Footers';
    const data = htmlWebpackPlugin.options.getData();
    const { headerData, footerData } = data;

block content
  .headers-n-footers
    .headers-n-footers__logo-wrapper
      +logo({ width: '48', height: '48', fill: '#1F2041', fillOpacity: '.25' })
    +header({ isLoggedIn: false, headerData })
    +header({ isLoggedIn: true, headerData, userName: 'Cosmin Negoita' })
    +navigationFooter(footerData)
    +footer(footerData)
