.rate-button,
.rate-button_disabled {
  height: auto;
  font-size: 0;

  &__input {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    padding: 0;
    cursor: pointer;

    &::after {
      font: 1.5rem/0.8333 Material Icons;
      display: flex;
      align-items: center;
      text-align: center;
      content: 'star';
      background: $primary-gradient;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      box-sizing: border-box;
    }

    &:focus {
      outline: none;
    }

    &:checked ~ input::after {
      content: 'star_border';
    }
  }
}

.rate-button_disabled .rate-button__input {
  cursor: default;
}
