mixin rateButton(params = {})
  -
    const { name, rate = 4, disabled = false } = params;
    let n = 1;
    const className = disabled ? "rate_button_disabled js_rate_button" : "rate_button js_rate_button";

  div(class=className data-rate=rate)
    while n < 6
      input.rate_button__input(type="radio" name=name checked=(n++ == rate) disabled=disabled)