@import "../../settings.scss";

.rate_button,
.rate_button_disabled {
  height: auto;
  font-size: 0;

  &__input {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    padding: 0;
    cursor: pointer;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: Material Icons;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 1.25rem;
      display: flex;
      align-items: center;
      text-align: center;
      content: "star";
      background: $primary-gradient;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      box-sizing: border-box;
    }

    &:focus {
      outline: none;
    }

    &:checked ~ input::after {
      content: "star_border";
    }
  }
}

.rate_button_disabled .rate_button__input {
  cursor: default;
}
