mixin sampleText(params = {})
  -
    const {tagName, text} = params;
    let classList = "type_example__sample_text";
    if (tagName) {
      classList += " "+classList+"_tag_"+tagName.toLowerCase();
    }

  case tagName
    when "H1"
      h1(class=classList)=text
    when "H2"
      h2(class=classList)=text
    when "H3"
      h3(class=classList)=text
    default
      div(class=classList)=text