extends ../base/base

block variables
  include ../../components/header/header
  include ../../components/footer/footer
  include ../../components/room-search-card/room-search-card

  -
    var pageTitle="Landing Page"
    data = htmlWebpackPlugin.options.getData()

block content
  .landing.js_landing
    +header( {lang: "ru", isLoggedIn: false, data })
    .landing__content
      .landing__form_search_room
        +roomSearchCard({label: "Найдем номера под ваши\u00A0пожелания"})
      .landing__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения
    +footer( {lang: "ru", data} )