@import "../../settings.scss";

.landing {
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: background-image 1s;
  background-position: top center;
  background-repeat: no-repeat;

  &__content {
    width: 100%;
    max-width: 72.5rem;
    margin: 70px auto 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__form_search_room {
    max-width: 23.75rem;
    margin-bottom: 314px;
  }

  &__slogan {
    text-align: right;
    width: 18.75rem;
    align-self: flex-end;
    margin: 0 -5px;
  }
}
