@import "../../settings.scss";

.landing {
  height: 100vh;
  max-height: 83.9375rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: background-image 1s;

  &__content {
    width: 100%;
    max-width: 72.5rem;
    margin: 4.375rem auto 1.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__form_search_room {
    max-width: 23.75rem;
  }

  &__slogan {
    text-align: right;
    width: 18.75rem;
    align-self: flex-end;
  }
}
