@import "../../settings.scss";

.button {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: $primary-purple;
  padding: 0 18px;
  border: 2px solid $primary-purple;
  letter-spacing: -0.02em;
  padding-bottom: 1px;
  max-height: 44px;
  height: 100%;
  border-radius: 22px;
  box-sizing: border-box;
  cursor: pointer;
  background: none;
  width: 100%;

  &:focus {
    outline: none;
  }

  &_disabled {
    border: 2px solid transparentize($primary-purple, 0.5);
  }

  &_no_borders {
    width: auto;
    border: none;
    letter-spacing: 0;
    height: auto;
    padding: 0;

    &.button_disabled {
      color: $dark-50;
    }
  }

  &_filled {
    color: white;
    background: $primary-gradient;
    border: none;
    padding: 0 20px 1px 19px;

    &.button_disabled {
      opacity: .5;
    }
  }

  &_with_arrow {
    vertical-align: middle;
    text-align: center;
    position: relative;
    letter-spacing: 0;

    & i {
      position: absolute;
      right: 0;
      top: 0;
      line-height: 44px;
      width: 44px;
      height: 44px;
    }
  }
}
