include ../bullet-list/bullet-list

mixin pieChart(params)
  -
    var {label=""} = params
  
  .pie_chart
    h2.pie_chart__title= label
    figure.pie_chart__chart.js_pie_chart    
      .pie_chart__content

      figcaption.pie_chart__legend