include ../bullet-list/bullet-list

mixin pieChart(params = {})
  -
    const { label = '' } = params;

  .pie-chart
    h2.pie-chart__title= label
    figure.pie-chart__chart.js-pie-chart__chart
      .pie-chart__content.js-pie-chart__content
      figcaption.pie-chart__legend.js-pie-chart__legend
