@import '../../settings.scss';

.pie_chart {

  &__title {
    margin-bottom: 1.3125rem;
  }

  &__chart {
    width: 100%;
    display: grid;
    grid-template-columns: 7.5rem auto;
    column-gap: 1.875rem;
    align-items: end;
    margin: 0;
    padding: 0;
  }

  &__content {
    width: 7.5rem;
  }

  &__legend_list {
    padding: 0 0 0.3125rem;
    margin: 0;
    list-style: none;
  }

  [class^='pie_chart__legend_list_item'] {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.3125rem;
    align-items: baseline;

    &::before {
      display: block;
      width: 0.625rem;
      height: 0.625rem;
      content: '';
      border-radius: 50%;
    }
  }

  &__legend_list_item_color {

    &_primary_grad {
      &:before {
        background: $primary-gradient;
      }
    }

    &_yellow_grad {
      &::before {
        background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
      }
    }

    &_secondary_grad {
      &::before {
        background: $secondary-gradient;
      }
    }

    &_black_grad {
      &::before {
        background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
      }
    }
  }
}

.chart {

  &__num_label {
    font: bold 1.5rem/1.25 Quicksand, 'Open Sans', sans-serif;
    fill: $primary-purple;
  }

  &__text_label {
    font: bold 0.75rem/1.25 Montserrat;
    text-align: center;
    text-transform: uppercase;
    fill: $primary-purple;
  }
}
