mixin likeButton({ count, checked = false })
  -
    let labelClass = 'js-like-button like-button__label';
    if (checked) {
      labelClass += ' like-button__label_checked';
    }

  label.like-button(class=labelClass)
    p.like-button__count.js-like-button__count= count
    input.like-button__input(type="checkbox" checked=checked class="js-like-button__input")
