mixin likeButton(params = {})
  -
    const { count, checked = false } = params;
    let labelClass = "js-like_button like_button__label";
    if (checked) 
      labelClass += " like_button__label_checked";

  label.like_button(class=labelClass)
    p=count
    input.like_button__input(type="checkbox" checked=checked)