.like_button {
  border: 1px solid $dark-25;
  box-sizing: border-box;
  border-radius: 1em;
  width: 4em;
  height: 2em;
  display: flex;
  align-items: center;

  &__label {
    font-size: 10px;
    line-height: 1.2em;
    text-align: center;
    color: $dark-25;

    &::before {
      font-family: "Material Icons";
      font-size: 10px;
      line-height: 20px;
      display: inline-block;
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      text-align: center;
      content: "favorite";
      vertical-align: middle;
    }

    &_checked {
      border: 1px solid $primary-purple;
      color: $primary-purple;
    }
  }

  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
