extends ../../base/base_fix

block variables
  include ./__input/input
  include ../logo/logo
  include ./__dropdown/dropdown
  include ./__datepicker/datepicker
  include ./__checkbox/checkbox

  - var pageTitle = 'Form-elements'

  mixin inputWrapper(params)
    - var {style, text, placeholder, masked = false} = params

    div.input_wrapper( class=style.split(' / ').join('_') )
      span.style=style.toUpperCase()
      +input( {label: text, placeholder: placeholder, masked: masked} )&attributes(attributes)


block content


  .form_elements
    .logo_wrapper
      +logo({width: "48", height: "48", fill: "#1F2041", fillOpacity: ".25"})
    .block_inputs_styled
      +inputWrapper({style: "default", text: "text field", placeholder: "Email"})
      +inputWrapper({style: "hover / focus", text: "text field", placeholder: "This is pretty awesome"})(class="form_input__input_isFocused")

      .dropdown_wrapper.default
        span.style DEFAULT
        +dropdown({label:"dropdown", text: "Сколько гостей", items:["Взрослые", "Дети", "Младенцы"]})
      
      +inputWrapper({style: "default", text: "masked text field", placeholder: "ДД.ММ.ГГГГ", masked: true})

    .datepicker_wrapper
      +datepicker({label: "date dropdown"})(class="start_date")
      +datepicker({label: "date dropdown", value: "19.08.2019"})(class="end_date")

    .datepicker_wrapper_ranged
      +datepicker( {label: "filter date dropdown", ranged: true} )

    .input_wrapper_with_subscription
      +input({ label: "subsription text field", placeholder: "Email", subscription: true })

    .expandable_checkbox_wrapper
      +expandableCheckBoxList({checkboxLabel: "expandable checkbox list",list: ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь", "Телевизор", "Шампунь"]})