@import '../../settings.scss';
@import '../logo/logo.scss';
@import './__input/input.scss';
@import './__dropdown/dropdown.scss';
@import './__datepicker/datepicker.scss';

body {
  min-width: 1440px;
}

.form_elements {
  width: 1440px;
  // position: relative;
}

.logo_wrapper {
  position: absolute;
  top: 30px;
  left: 30px;
}

.block_inputs {
  position: absolute;
  top: 140px;
  left: 141px;
  width: 320px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

.default,
.hover_focus {
  position: relative;
}

.style {
  color: $dark-50;
  float: right;
  font-size: 12px;
  line-height: 15px;
}

.datepicker_wrapper {
  width: 320px;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-column-gap: 20px;
}

.datepicker_wrapper_ranged {
  width: 266px;
}
