extends ../../base/base_fix

block variables
  include ./__input/input
  include ../logo/logo
  include ./__dropdown/dropdown
  include ./__datepicker/datepicker
  include ./__checkbox/checkbox

  - var pageTitle = 'Form-elements'

  mixin inputWrapper(params)
    - var {style, text, placeholder, masked = false} = params

    div.input_wrapper( class=style.split(' / ').join('_') )
      span.style=style.toUpperCase()
      +input( {label: text, placeholder: placeholder, masked: masked} )&attributes(attributes)


block content


  .form_elements
    
    .expandable_checkbox_wrapper
      -
        var list = [
          {label:"Завтрак"},
          {label:"Письменный стол", checked: true},
          {label: "Стул для кормления", checked: true},
          {label: "Кроватка", checked: true},
          {label: "Телевизор"},
          {label: "Шампунь"},
          {label: "Телевизор"},
          {label: "Шампунь"}
        ]
      +checkboxList({checkboxLabel: "expandable checkbox list", list: list, type: "expandable"})

    .expandable_checkbox_wrapper
      -
        var list = [
          {label:"Завтрак"},
          {label:"Письменный стол", checked: true},
          {label: "Стул для кормления", checked: true},
          {label: "Кроватка", checked: true},
          {label: "Телевизор"},
          {label: "Шампунь"},
          {label: "Телевизор"},
          {label: "Шампунь"}
        ]
      +checkboxList({checkboxLabel: "expandable checkbox list", list: list, type: "expandable", opened: true})

    .rich_checkbox_buttons
      -
        var list = [
          {label: "Широкий коридор", description: "Ширина коридоров в номере не менее 91 см.", checked: false},
          {label: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист и проводит до номера."}
        ]
      +checkboxList({checkboxLabel: "rich checkbox buttons", list: list, type: "rich" })
