extends ../base/base

block variables
  include ../../components/header/header
  include ../../components/navigation-footer/navigation-footer
  include ../../components/datepicker-block/datepicker-block
  include ../../components/dropdown/dropdown
  include ../../components/range-slider/range-slider
  include ../../components/checkbox-list/checkbox-list
  include ../../components/pagination-block/pagination-block
  include ../../components/room-card/room-card

  -
    const pageTitle = 'Search Room';
    const data = htmlWebpackPlugin.options.getData();
    const { headerData, footerData, roomsData } = data;

block content
  .search-room
    +header({ isLoggedIn: false, headerData })
    .search-room__content.js-search-room__content
      .search-room__filter-toggler.js-search-room__filter-toggler
        h2.search-room__filter-toggler-title Фильтры поиска
      form.search-room__filters-block.js-search-room__filters-block(method="get")
        .search-room__datepicker
          +datepickerBlock({ label: 'даты пребывания в отеле', value:'2019-08-19', valueSecond:'2019-08-23' })
        .search-room__guest-dropdown
          -
            const guestsItems = [
              { itemLabel: 'Взрослые', itemCount: 2 },
              { itemLabel: 'Дети', itemCount: 1 },
              { itemLabel: 'Младенцы', itemCount: 1 },
            ];

          +dropdown({ label:'гости', text: 'Сколько гостей', items: guestsItems })
        .search-room__range-slider
          +rangeSlider( { label: 'Диапазон цены', value: [5000, 10000], text: 'Стоимость за сутки пребывания в номере' } )
        .search-room__checkbox
          -
            const checkboxList = [
              { label: 'Можно курить' },
              { label:'Можно с питомцами', checked: true },
              { label:'Можно пригласить гостей (до\u00A010\u00A0человек)', checked: true },
            ];

          +checkboxList({checkboxLabel: 'checkbox buttons', list: checkboxList})
        .search-room__rich-checkbox
          -
            const accessibilityList = [
              { label: 'Широкий коридор', description: 'Ширина коридоров в номере не\u00A0менее 91 см.', checked: false },
              { label: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист и проводит до номера.' },
            ];

          +checkboxList({ checkboxLabel: 'доступность', list: accessibilityList, rich: true })
        .search-room__comfort-dropdown
          -
            const comfortItems = [
              { itemLabel: 'Спальни', itemCount: 2 },
              { itemLabel: 'Кровати', itemCount: 2 },
              { itemLabel: 'Ванные комнаты', itemCount: 0 },
            ];

          +dropdown({label:'удобства номера', text: 'Сколько гостей', items: comfortItems, multiple: true})
        .search-room__additional-services-checkbox
          -
            const additionalServicesList = [
              { label:'Завтрак' },
              { label:'Письменный стол', checked: true },
              { label: 'Стул для кормления', checked: true },
              { label: 'Кроватка', checked: true },
              { label: 'Телевизор' },
              { label: 'Шампунь' },
              { label: 'Телевизор' },
              { label: 'Шампунь' },
            ];

          +checkboxList({ checkboxLabel: 'дополнительные удобства', list: additionalServicesList, expandable: true, closed: true })
      .search-room__rooms-block.js-search-room__rooms-block
        h1.search-room__rooms-title Номера, которые мы для вас подобрали
        .search-room__pagination
          +pagination({ numberOfPages: 15, data: [888, 840, 980, 856, 740, 982, 678, 450, 350, 666, 444, 352] }, roomData)
    .search-room__delimiter
    +navigationFooter(footerData)
