extends ../base/base

block variables
  include ../../components/header/header
  include ../../components/footer/footer

  include ../../components/datepicker/datepicker
  include ../../components/dropdown/dropdown
  include ../../components/range-slider/range-slider
  include ../../components/checkbox/checkbox
  include ../../components/pagination/pagination
  include ../../components/room-card/room-card

  -
    var pageTitle = "Search Room"
    data = htmlWebpackPlugin.options.getData()

block content
  .search_room
    +header( {lang: "ru", isLoggedIn: false, data })
    .search_room__content
      .search_room__filters_block
        .search_room__datepicker
          +datepicker({label: "даты пребывания в отеле", value:"19.08.2019", valueSecond:"23.08.2019"})
        .search_room__guest_dropdown
          -
            var items = [
              {itemLabel: "Взрослые", itemCount: 0},
              {itemLabel: "Дети", itemCount: 0},
              {itemLabel: "Младенцы", itemCount: 0},
            ]
          +dropdown({label:"гости", text: "Сколько гостей", items})
        .search_room__range_slider
          +rangeSlider( {label: "Диапазон цены", value: [5000, 10000], text: "Стоимость за сутки пребывания в номере"} )
        .search_room__checkbox
          -
            var list = [
              {label: "Можно курить"},
              {label:"Можно с питомцами", checked: true},
              {label:"Можно пригласить гостей (до\u00A010\u00A0человек)", checked: true}
            ]
          +checkboxList({checkboxLabel: "checkbox buttons", list: list})
        .search_room__rich_checkbox
          -
            var list = [
              {label: "Широкий коридор", description: "Ширина коридоров в номере не\u00A0менее 91 см.", checked: false},
              {label: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист и проводит до номера."}
            ]
          +checkboxList({checkboxLabel: "доступность", list, type: "rich" })
        .search_room__comfort_dropdown
          -
            var items = [
              {itemLabel: "Спальни", itemCount: 2},
              {itemLabel: "Кровати", itemCount: 2},
              {itemLabel: "Ванные комнаты", itemCount: 0},
            ]
          +dropdown({label:"удобства номера", text: "Сколько гостей", items, multiple: true})
        .search_room__additional_services_checkbox
          -
            var list = [
              {label:"Завтрак"},
              {label:"Письменный стол", checked: true},
              {label: "Стул для кормления", checked: true},
              {label: "Кроватка", checked: true},
              {label: "Телевизор"},
              {label: "Шампунь"},
              {label: "Телевизор"},
              {label: "Шампунь"}
            ]
          +checkboxList({checkboxLabel: "дополнительные удобства", list, type: "expandable"})
      .search_room__rooms_block
        h1.search_room__rooms_title= "Номера, которые мы для вас подобрали"
        .search_room__rooms
          +roomCard({number: 888})
          +roomCard({number: 840})
          +roomCard({number: 980})
          +roomCard({number: 856})
          +roomCard({number: 740})
          +roomCard({number: 982})
          +roomCard({number: 678})
          +roomCard({number: 450})
          +roomCard({number: 350})
          +roomCard({number: 666})
          +roomCard({number: 444})
          +roomCard({number: 352})
        .search_room__pagination
          +pagination({numberOfPages: 15, description: "1 – 12 из 100+ вариантов аренды"})
    
    .search_room__delimiter
    +footer( {lang: "ru", data} )