@import "../../settings.scss";

.search_room {
  height: 100vh;
  max-height: 1880px;
  display: grid;
  grid-template-rows: auto 1fr auto auto;

  &__content {
    display: grid;
    grid-template-columns: 266px 1fr;
    column-gap: 60px;
    width: 100%;
    max-width: 1160px;
    margin: 27px auto 70px;
  }

  &__guest_dropdown {
    margin-top: 17px;
  }

  &__range_slider {
    margin-top: 30px;
  }

  &__checkbox {
    margin-top: 26px;
  }

  &__rich_checkbox {
    margin-top: 29px;
  }

  &__comfort_dropdown {
    margin-top: 26px;
  }

  &__additional_services_checkbox {
    margin-top: 15px;
  }

  &__rooms_title {
    margin: 4px 0 21px;
  }

  &__rooms {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    column-gap: 12px;
    row-gap: 20px;
  }

  &__delimiter {
    max-width: 90rem;
    width: 100%;
    margin: auto;
    height: 0.0625rem;
    background-color: $dark-25;
  }
}