@import '../../settings.scss';

.search_room {
  height: 100vh;
  max-height: 116.875rem;
  display: grid;
  grid-template-rows: auto 1fr auto auto;

  &__content {
    display: grid;
    grid-template-columns: 16.625rem 1fr;
    column-gap: 3.75rem;
    width: 100%;
    max-width: 72.5rem;
    margin: 1.6875rem auto 4.375rem;
  }

  &__filter_toggler {
    display: none;
  }

  &__guest_dropdown {
    margin-top: 1.0625rem;
  }

  &__range_slider {
    margin-top: 1.875rem;
  }

  &__checkbox {
    margin-top: 1.625rem;
  }

  &__rich_checkbox {
    margin-top: 1.8125rem;
  }

  &__comfort_dropdown {
    margin-top: 1.625rem;
  }

  &__additional_services_checkbox {
    margin-top: 0.9375rem;
  }

  &__rooms_title {
    margin: 0.25rem 0 1.3125rem;
  }

  &__rooms {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16.875rem);
    column-gap: 0.75rem;
    row-gap: 1.25rem;
  }

  &__delimiter {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    height: 1px;
    background-color: $dark-25;
  }
}

@media screen and (max-width: 1220px) {
  .search_room {

    &__content {
      padding-left: 1.875rem;
      padding-right: 1.875rem;
    }
  }
}

@media screen and (max-width: 656px) {
  .search_room {

    &__content {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__filter_toggler {
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.25rem;
      padding-right: 0.625rem;
      box-sizing: border-box;
      border: 0.0625rem solid $dark-50;
      border-radius: 0.625rem;
      margin-bottom: 1.875rem;
      box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
      cursor: pointer;

      &::after {
        font-family: 'Material Icons';
        font-size: 1.875rem;
        line-height: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        content: 'expand_more';
        color: $dark-100;
      }

      &.opened {
        border-bottom: none;
        box-shadow: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;

        &::after {
          transform: rotate(180deg);
        }
      }
    }

    &__filters_block {
      display: none;

      &.opened {
        display: block;
        height: 100%;
        padding: 1.25rem 0.625rem 1.25rem 1.25rem;
        border: 0.0625rem solid $dark-50;
        border-bottom-left-radius: 0.625rem;
        border-bottom-right-radius: 0.625rem;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        margin-bottom: 1.875rem;
      }
    }
  }
}
