@import 'air-datepicker/dist/css/datepicker.min';

.form_datepicker {
  &__label {
    display: block;
    padding: 3px 0 5px 0;
  }
}

.form_datepicker__input_wrapper {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $dark-75;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid $dark-25;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;

  &::after {
    font-family: "Material Icons";
    width: 42px;
    height: 44px;
    font-size: 24px;
    line-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "expand_more";
    top: -13px;
  }
}

.form_datepicker__input {
  font-family: Montserrat, Arial, sans-serif;
  padding: 1px 0 0 14px;
  cursor: inherit;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  color: $dark-75;
  max-width: calc(100% - 50px);
  
  &::placeholder {
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $dark-75;
  }
}


//editing plugin styles
.form_datepicker .datepicker {  
  border: 1px solid $dark-25;  
  box-shadow: 0 10px 20px $dark-5;  

}

.datepicker {
  width: 320px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px;

  &--nav {
    padding: 0;
    border: none;

    &::before {
      font-family: "Material Icons";
      content: "arrow_back";
      width: 24px;
      height: 24px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      font-size: 24px;
      line-height: 24px;
      background: $primary-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &::after {
      font-family: "Material Icons";
      font-size: 24px;
      line-height: 24px;
      width: 24px;
      height: 24px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      content: "arrow_forward";
      background: $primary-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &-title {
      font-family: Quicksand, Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 24px;
      text-align: center;
      color: $dark-100;
      display: inline-block;
      vertical-align: middle;
    }

    &-action {
      display: none
    }
  }

  &--content {
    padding: 0;
  }

  
}
