.palette {
  &__description {
    color: #1f2041;
    font-size: 1.1875rem;
    line-height: 1.5263;
    width: 9.9375rem;
    height: 3.5625rem;
  }

  &__name {
    font-family: Quicksand, Arial, sans-serif;
    font-weight: bold;
    opacity: 1;
  }

  &__hex {
    font-family: Quicksand, Arial, sans-serif;
    font-weight: normal;
    opacity: 1;
  }
}
