mixin pagination(params = {})
  -
    const { numberOfPages, description = '1 – 12 из 100+ вариантов аренды', data = [] } = params;
    let classMod = 'js-pagination-block';
    if (data.length !== 0)
      classMod += ' pagination-block_with-data';
    else
      classMod += ' pagination-block_without-data';

  .pagination-block(data-rooms=data class=classMod)
    if (data.length !== 0)
      #data-container
    .pagination-block__pagination.js-pagination(data-pages=numberOfPages)
    .pagination-block__description.js-pagination-block__description= description
