mixin sample(params = {})
  -
    const { colorName, opacity } = params;
    let className="palette__sample"+" "+"palette__sample_coloris-"+colorName.toLowerCase();

    if (opacity) {
      className += "_"+opacity.split("%")[0];
    }

  div(class=className)