.radio_buttons__radio {
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 0.625rem;
  align-items: center;
  cursor: pointer;

  &_label {
    color: $dark-50;
  }

  &_label_checked {
    color: $dark-75;
  }

  &_input {
    display: inline-block;
    grid-column: 1;
    grid-row: 1;
    width: 1.25rem;
    height: 1.25rem;
    border: 0.0625rem solid $dark-25;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;

    &:checked {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.0625rem solid $primary-purple;
      position: relative;

      &::after {
        width: 60%;
        height: 60%;
        border-radius: 50%;
        background: $primary-gradient;
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

