@import "../../settings.scss";

.range_slider {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;

  &__label {  
    display: inline-block;  
  }

  &__value {
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: $dark-50;
  }

  &__slider {
    grid-column: 1/3;

    & .irs-line {
      height: 6px;
      background: white;
      border: 1px solid $dark-25;
      box-sizing: border-box;
      border-radius: 3px;
    }

    & .irs-bar {
      background: $secondary-gradient;
      height: 6px;
      border-radius: 3px;
    }

    & .irs-handle {
      height: 12px;
      width: 12px;
      
      background: $secondary-gradient;
      border: 2px solid #FFFFFF;
      border-radius: 10px;
      cursor: pointer;

      transform: translate(50%, 50%);
      
    }
  }
}
