@import "../../settings.scss";


body {
  min-width: 1440px;
}

.form_elements {
  width: 1440px;
  padding: 140px 141px 150px 140px;
  display: grid;
  grid-template-rows: auto;
  row-gap: 40px;
}

.row {
  position: relative;
  display: grid;
  grid-template-columns: 320px auto 320px;
  column-gap: 72px;

  &:nth-child(3) {
    padding-top: 57px;
  }
}

.col {
  position: relative;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  
  &:nth-child(2) {
    padding-left: 55px;
  }
}

.logo_wrapper {
  position: absolute;
  top: 30px;
  left: 30px;
}

.style  {
  text-transform: uppercase;
}

.input_wrapper {
  position: relative;
  margin-left: 1px;

  &.hover_focus {
    margin-top: 16px;
    padding-top: 2.45px;
  }

  &.masked {
    margin-top: 20px;
  }
}

.style {
  color: $dark-50;
  position: absolute;
  right: 0;
  font-size: 12px;
  line-height: 15px;

  &.hover_focus {
    top: 5px;
    letter-spacing: -0.02em;
  }
}

.dropdown_wrapper {
  position: relative;
  margin-top: 16px;

  & .style {
    padding-bottom: 5px;
    top: 3px;
  }

  &_expanded {
    width: 320px;
  }
}

.datepickers_wrapper {
  width: 320px;
  margin-top: 37px;
  margin-left: 1px;
}

.datepicker_wrapper_filtered {
  width: 266px;
  margin-top: 38px;
  margin-left: 1px;
}

.input_wrapper_with_subscription {
  width: 267px;
  box-sizing: border-box;
  margin-top: 38px;
}

.dropdown_multiple_items {
  
  &_wrapper {
  width: 267px;
  position: relative;
  }

  &_expanded_wrapper {
    margin-top: 17px;
    width: 266px;
    position: relative;
    height: 184px;
  }
}

.expandable_checkbox_wrapper {
  width: 266px;
  box-sizing: border-box;

  &:nth-child(2) {
    margin-top: 20px;
  }
}

.rich_checkbox_buttons {
  width: 266px;
  box-sizing: border-box;
  padding-top: 12px;
}

.bullet_list_wrapper {
  width: 292px;
  padding-top: 10px;
}

.checkbox_buttons_wrapper {
  width: 222px;
}

.buttons_block {
  width: 320px;
  padding-top: 23px;

  &_wrapper {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 30px;
  }

  &_buttons {
    padding-top: 15px;
    width: 218px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
  }

  &_no_borders {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 50px;
    column-gap: 20px;
    justify-items: start;
    align-items: center;
  }

  &_with_arrow {
    grid-column: 1/3;
  }
}

.pagination_block_wrapper {
  width: 320px;
  padding-top: 41px;

  &_label {
    padding-bottom: 16px;
  }
}

.radio_buttons {
  &_wrapper {
    width: 220px;
    margin-top: 37px;
  }

  &_label {
    display: inline-block;
    padding-bottom: 14px;
  }
}

.toggle_buttons {
  &_wrapper {
    margin-top: 39px;
    width: 260px;
    display: grid;
    row-gap: 10px;
    grid-template-rows: 19px 24px 24px;
  }

  &_label {
    display: inline-block;
    padding-bottom: 6px;
    letter-spacing: -0.03em;
  }
}

.like_buttons {  
  display: grid;
  grid-template-columns: 40px 40px;
  column-gap: 10px;

  &_wrapper {
    margin-top: 37px;
    width: 90px;
  }

  &_label {
    display: inline-block;
    padding-bottom: 16px;
  }
}

.rate_buttons {
  &_wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 120px 120px;
    column-gap: 20px;
    row-gap: 16px;
  }

  &__label {
    grid-column: 1/3;
  }
}

.range_slider_wrapper {
  width: 266px;
  padding-top: 3px;
}

.icon_item_list_wrapper {
  width: 291px;
}

.comment_block_wrapper {
  grid-column: 2 / 4;
  width: 711px;
}
