@import '../../settings.scss';
@import '../../components/logo/logo.scss';
@import '../../components/input/input.scss';
@import '../../components/dropdown/dropdown.scss';
@import '../../components/datepicker/datepicker.scss';
@import '../../components/icon-item/icon-item.scss';
@import '../../components/checkbox/checkbox.scss';
@import '../../components/bullet-list/bullet-list.scss';

body {
  min-width: 1440px;
}

.form_elements {
  width: 1440px;
  padding: 143px 141px 150px;
  display: grid;
  grid-template-rows: auto;
  row-gap: 40px;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.logo_wrapper {
  position: absolute;
  top: 30px;
  left: 30px;
}

.block_inputs_styled {
  width: 320px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

.default,
.hover_focus {
  position: relative;
}

.style {
  color: $dark-50;
  float: right;
  font-size: 12px;
  line-height: 15px;
}

.datepicker_wrapper {
  width: 320px;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-column-gap: 20px;
}

.datepicker_wrapper_ranged {
  width: 266px;
}

.input_wrapper_with_subscription {
  width: 267px;
  box-sizing: border-box;
}

.dropdown_multiple_items_wrapper {
  width: 267px;
}

.expandable_checkbox_wrapper {
  width: 266px;
  box-sizing: border-box;
}

.icon_item_list_wrapper {
  width: 291px;
}

.rich_checkbox_buttons {
  width: 266px;
  box-sizing: border-box;
}

.bullet_list_wrapper {
  width: 292px;
}

.checkbox_buttons_wrapper {
  width: 222px;
}
