extends ../base/base_fix

block variables
  include ../../components/input/input
  include ../../components/logo/logo
  include ../../components/dropdown/dropdown
  include ../../components/datepicker/datepicker
  include ../../components/icon-item/icon-item
  include ../../components/checkbox/checkbox
  include ../../components/bullet-list/bullet-list
  include ../../components/button/button
  include ../../components/radio-buttons/radio-buttons
  include ../../components/toggle-button/toggle-button
  include ../../components/like-button/like-button
  include ../../components/rate-button/rate-button
  include ../../components/range-slider/range-slider
  include ../../components/comment-block/comment-block
  include ../../components/pagination/pagination

  - var pageTitle = 'Form-elements'

block content
  .form_elements
    .logo_wrapper
      +logo({width: "48", height: "48", fill: "#1F2041", fillOpacity: ".25"})
    .row
      .col
        div.input_wrapper.default
          span.style="default"
          +input( {label: "text field", placeholder: "Email"} )
        div.input_wrapper( class="hover_focus" )
          span.style.hover_focus="hover / focus"
          +input( {label: "text field", placeholder: "This is pretty awesome"} )(class="form_input__input_isFocused")

        .dropdown_wrapper.default
          span.style DEFAULT
          +dropdown({label:"dropdown", text: "Сколько гостей", items:["Взрослые", "Дети", "Младенцы"]})

        .input_wrapper.default.masked
          span.style="default"
          +input( {label: "masked text field", placeholder: "ДД.ММ.ГГГГ", masked: true} )

        .datepickers_wrapper
          +datepicker({label: "date dropdown", separated: true, labelSecond: "date dropdown", valueSecond: "19.08.2019"})
          
        .datepicker_wrapper_filtered
          +datepicker({label: "filter date dropdown"})

        .input_wrapper_with_subscription
          +input({ label: "subscription text field", placeholder: "Email", subscription: true })

      .col
        .checkbox_buttons_wrapper
          -
            var list = [
              {label: "Можно курить"},
              {label:"Можно с питомцами", checked: true},
              {label:"Можно пригласить гостей (до 10 человек)", checked: true}
            ]
          +checkboxList({checkboxLabel: "checkbox buttons", list: list})
        
        .radio_buttons_wrapper
          h3.radio_buttons_label radio buttons
          +radioButtons({
            list: [
              {label: "Мужчина", checked: true},
              {label: "Женщина"}
            ]
          })

        .toggle_buttons_wrapper
          h3.toggle_buttons_label toggle
          +toggleButton({label: "Получать спецпредложения", checked: true})
          +toggleButton({label: "Получать спецпредложения"})

        .like_buttons_wrapper
          h3.like_buttons_label like button
          .like_buttons
            +likeButton( {count: 2} )
            +likeButton( {count: 12, checked: true} )

        .rate_buttons_wrapper
          h3.rate_buttons__label rate button
          +rateButton( {name: "rate_1",rate: 3} )
          +rateButton( {name: "rate_2", rate: 4} )

      .col
        .range_slider_wrapper
          +rangeSlider( {label: "range slider", value: [5000, 10000]} )


        .buttons_block
          h3.buttons_block_label buttons
          .buttons_block_wrapper
            .buttons_block_buttons
              +button( {label: "Click me", style: "filled"} )
              +button( {label: "Click me", style: "filled", disabled: true } )
              +button( {label: "Click me", style: "no fill"} )
              +button( {label: "Click me", style: "no fill", disabled: true } )
              .buttons_block_no_borders
                +button( {label: "Click me", style: "no borders" } )
                +button( {label: "Click me", style: "no borders", disabled: true } )
            .buttons_block_with_arrow
              +button( {label: "Перейти к оплате", style: "filled", arrow: true } )

        .pagination_block_wrapper
          h3.pagination_block_wrapper_label pagination
          +pagination({numberOfPages: 15, description: "1 – 12 из 100+ вариантов аренды"})

    .row
      .col
        .dropdown_multiple_items_wrapper
          span.style DEFAULT
          +dropdown({label:"dropdown", text: "Сколько гостей", items:["Спальни", "Кровати", "Ванные комнаты"], multiple: true})
        
        .dropdown_multiple_items_expanded_wrapper
          span.style expanded
          +dropdown({label:"dropdown", text: "Сколько гостей", items:["Спальни", "Кровати", "Ванные комнаты"], multiple: true})
      
      .col
        .dropdown_wrapper_expanded
          +dropdown({label:"dropdown", text: "Сколько гостей", items:["Взрослые", "Дети", "Младенцы"]})

      .col
        .dropdown_wrapper_expanded
          +dropdown({label:"dropdown", text: "Сколько гостей", items:["Взрослые", "Дети", "Младенцы"]})

    .row
      .col
        .expandable_checkbox_wrapper
          -
            var list = [
              {label:"Завтрак"},
              {label:"Письменный стол", checked: true},
              {label: "Стул для кормления", checked: true},
              {label: "Кроватка", checked: true},
              {label: "Телевизор"},
              {label: "Шампунь"},
              {label: "Телевизор"},
              {label: "Шампунь"}
            ]
          +checkboxList({checkboxLabel: "expandable checkbox list", list: list, type: "expandable"})

        .expandable_checkbox_wrapper
          -
            var list = [
              {label:"Завтрак"},
              {label:"Письменный стол", checked: true},
              {label: "Стул для кормления", checked: true},
              {label: "Кроватка", checked: true},
              {label: "Телевизор"},
              {label: "Шампунь"},
              {label: "Телевизор"},
              {label: "Шампунь"}
            ]
          +checkboxList({checkboxLabel: "expandable checkbox list", list: list, type: "expandable", opened: true})

      .col
        .rich_checkbox_buttons
          -
            var list = [
              {label: "Широкий коридор", description: "Ширина коридоров в номере не менее 91 см.", checked: false},
              {label: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист и проводит до номера."}
            ]
          +checkboxList({checkboxLabel: "rich checkbox buttons", list: list, type: "rich" })

      .col
        .bullet_list_wrapper
          -
            var list = [
              {label: "Нельзя с питомцами"},
              {label: "Без вечеринок и мероприятий"},
              {label: "Время прибытия — после 13:00, а выезд до 12:00"}
            ]

          +bulletList({label: "bullet list", itemList: list})

    .row
      .col
        .icon_item_list_wrapper
          .icon_item_list
            +iconItem( {
              icon: "insert_emoticon",
              label: "Комфорт",
              description: "Шумопоглощающие стены"
              } )

            +iconItem( {
              icon: "location_city",
              label: "Удобство",
              description: "Окно в каждой из спален"
            } )

      .col
        .comment_block_wrapper
          +commentBlock({
            name: "Мурад Сарафанов",
            date: "5 дней назад",
            comment: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
            likes: {
              count: "12",
              checked: true
            }})
      