extends ../base/base_fix

block variables
  include ../../components/input/input
  include ../../components/logo/logo
  include ../../components/dropdown/dropdown
  include ../../components/datepicker-block/datepicker-block
  include ../../components/icon-item/icon-item
  include ../../components/checkbox-list/checkbox-list
  include ../../components/bullet-list/bullet-list
  include ../../components/button/button
  include ../../components/radio-buttons/radio-buttons
  include ../../components/toggle-button/toggle-button
  include ../../components/like-button/like-button
  include ../../components/rate-button/rate-button
  include ../../components/range-slider/range-slider
  include ../../components/comment-block/comment-block
  include ../../components/pagination-block/pagination-block

  - const pageTitle = 'Form-elements';

block content
  .form-elements
    .form-elements__logo-wrapper
      +logo({ width: '48', height: '48', fill: '#1F2041', fillOpacity: '.25' })
    .form-elements__row
      .form-elements__col
        div.form-elements__input-wrapper.default
          span.form-elements__style-name default
          +input({ label: 'text field', placeholder: 'Email' })
        div.form-elements__input-wrapper(class="hover_focus")
          span.form-elements__style-name.hover_focus hover / focus
          +input({ label: 'text field', placeholder: 'This is pretty awesome' })(class="input__input_focused")
        .form-elements__dropdown-wrapper.default
          -
            let items = [
              { itemLabel: 'Взрослые', itemCount: 0 },
              { itemLabel: 'Дети', itemCount: 0 },
              { itemLabel: 'Младенцы', itemCount: 0 },
            ];

          span.form-elements__style-name default
          +dropdown({ label:'dropdown', text: 'Сколько гостей', items })
        .form-elements__input-wrapper.default.masked
          span.form-elements__style-name default
          +input({ label: 'masked text field', placeholder: 'ДД.ММ.ГГГГ', masked: true })
        .form-elements__datepickers-wrapper
          +datepickerBlock({ label: 'date dropdown', separated: true, labelSecond: 'date dropdown', valueSecond: '2019-08-19' })
        .form-elements__datepicker-wrapper_filtered
          +datepickerBlock({ label: 'filter date dropdown', value:'2019-08-19', valueSecond:'2019-08-23' })
        .form-elements__input-wrapper_with-subscription
          +input({ label: 'subscription text field', placeholder: 'Email', subscription: true })
      .form-elements__col
        .form-elements__checkbox-buttons-wrapper
          -
            let list = [
              { label: 'Можно курить' },
              { label:'Можно с питомцами', checked: true },
              { label:'Можно пригласить гостей (до 10 человек)', checked: true },
            ];

          +checkboxList({ checkboxLabel: 'checkbox buttons', list: list })
        .form-elements__radio-buttons-wrapper
          h3.form-elements__radio-buttons-label radio buttons
          +radioButtons({
            list: [
              { label: 'Мужчина', checked: true },
              { label: 'Женщина' }
            ]
          })
        .form-elements__toggle-buttons-wrapper
          h3.form-elements__toggle-buttons-label toggle
          +toggleButton({ label: 'Получать спецпредложения', checked: true })
          +toggleButton({ label: 'Получать спецпредложения' })
        .form-elements__like-buttons-wrapper
          h3.form-elements__like-buttons-label like button
          .form-elements__like-buttons
            +likeButton({ count: 2 })
            +likeButton({ count: 12, checked: true })
        .form-elements__rate-buttons-wrapper
          h3.form-elements__rate-buttons-label rate button
          +rateButton({ name: 'rate_1', rate: 4 })
          +rateButton({ name: 'rate_2', rate: 5 })
      .form-elements__col
        .form-elements__range-slider-wrapper
          +rangeSlider({ label: 'range slider', value: [5000, 10000] })
        .form-elements__buttons-block
          h3.form-elements__buttons-block-label buttons
          .form-elements__buttons-block-wrapper
            .form-elements__buttons-block-buttons
              +button({ label: 'Click me', theme: 'filled' })
              +button({ label: 'Click me', theme: 'filled', disabled: true })
              +button({ label: 'Click me', theme: 'outline' })
              +button({ label: 'Click me', theme: 'outline', disabled: true })
              .form-elements__buttons-block_theme_text
                +button({ label: 'Click me', theme: 'text' })
                +button({ label: 'Click me', theme: 'text', disabled: true })
            .form-elements__buttons-block_with-arrow
              +button({ label: 'Перейти к оплате', theme: 'filled', withArrow: true })
        .form-elements__pagination-block-wrapper
          h3.form-elements__pagination-block-wrapper-label pagination
          +pagination({ numberOfPages: 15, description: '1 – 12 из 100+ вариантов аренды' })
    .form-elements__row
      .form-elements__col
        .form-elements__dropdown-multiple-items-wrapper
          -
            items = [
              { itemLabel: 'Спальни', itemCount: 2 },
              { itemLabel: 'Кровати', itemCount: 2 },
              { itemLabel: 'Ванные комнаты', itemCount: 0 },
            ];

          span.form-elements__style-name default
          +dropdown({ label:'dropdown', text: 'Сколько гостей', items, multiple: true })
        .form-elements__dropdown-multiple-items-expanded-wrapper
          span.form-elements__style-name expanded
          +dropdown({ label:'dropdown', text: 'Сколько гостей', items, multiple: true, opened: true })
      .form-elements__col
        .form-elements__dropdown-wrapper-expanded
          -
            items = [
              { itemLabel: 'Взрослые', itemCount: 0 },
              { itemLabel: 'Дети', itemCount: 0 },
              { itemLabel: 'Младенцы', itemCount: 0 },
            ];

          +dropdown({ label:'dropdown', text: 'Сколько гостей', items, opened: true })
      .form-elements__col
        .form-elements__dropdown-wrapper-expanded
          -
            items = [
              { itemLabel: 'Взрослые', itemCount: 2 },
              { itemLabel: 'Дети', itemCount: 1 },
              { itemLabel: 'Младенцы', itemCount: 0 },
            ];

          +dropdown({ label:'dropdown', text: 'Сколько гостей', items, opened: true })
    .form-elements__row
      .form-elements__col
        .form-elements__expandable-checkbox-wrapper
          -
            list = [
              { label:'Завтрак' },
              { label:'Письменный стол', checked: true },
              { label: 'Стул для кормления', checked: true },
              { label: 'Кроватка', checked: true },
              { label: 'Телевизор' },
              { label: 'Шампунь' },
            ];

          +checkboxList({ checkboxLabel: 'expandable checkbox list', list, expandable: true, closed: true })
        .form-elements__expandable-checkbox-wrapper
          +checkboxList({ checkboxLabel: 'expandable checkbox list', list, expandable: true })
      .form-elements__col
        .form-elements__rich-checkbox-buttons
          -
            list = [
              { label: 'Широкий коридор', description: 'Ширина коридоров в номере не\u00A0менее 91 см.', checked: false },
              { label: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист и проводит до номера.' },
            ];

          +checkboxList({ checkboxLabel: 'rich checkbox buttons', list, rich: true })
      .form-elements__col
        .form-elements__bullet-list-wrapper
          h3.form-elements__bullet-list-label bullet list
          -
            const itemList = [
              { label: 'Нельзя с питомцами' },
              { label: 'Без вечеринок и мероприятий' },
              { label: 'Время прибытия — после 13:00, а выезд до 12:00' },
            ];

          +bulletList({ itemList })
    .form-elements__row
      .form-elements__col
        .form-elements__icon-item-list-wrapper
          .form-elements__icon-item-list
            +iconItem({
              icon: 'insert_emoticon',
              label: 'Комфорт',
              description: 'Шумопоглощающие стены',
              })
            +iconItem({
              icon: 'location_city',
              label: 'Удобство',
              description: 'Окно в каждой из спален',
            })
      .form-elements__col
        .form-elements__comment-block-wrapper
          +commentBlock({
            name: 'Мурад Сарафанов',
            date: '5 дней назад',
            comment: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
            likes: { count: '12', checked: true },
          })
