extends ../base/base

block variables
  include ../../components/header/header
  include ../../components/navigation-footer/navigation-footer
  include ../../components/registration-card/registration-card

  -
    const pageTitle = 'Registration Page';
    const data = htmlWebpackPlugin.options.getData();

block content
  .registration-page
    +header({ lang: 'ru', isLoggedIn: false, data })
    .registration-page__content
      .registration-page__registration-form
        +registrationCard({ label: 'Регистрация аккаунта' })
    +navigationFooter({ lang: 'ru', data })
