.registration-card {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  padding: 2.5rem calc(50% - 10rem) 1.875rem;

  background: #FFFFFF;
  border: 0.0625rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0rem 0rem 1.5625rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;

  @media screen and (max-width: 340px) {
    border-top: 0.0625rem solid rgba(0, 0, 0, 0.12);
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.12);
  }

  &__label {
    @include h1-text;
    line-height: 1.25;
  }

  &__name-input {
    margin-top: 1.25rem;
  }

  &__surname-input {
    margin-top: 0.625rem;
  }

  &__gender-radio-buttons {
    width: 13.7963rem;
    margin-top: 0.5625rem;
  }

  &__date-input_masked {
    margin-top: 1.125rem;
  }

  &__email-input {
    margin-top: 1.125rem;
  }

  &__password-input {
    margin-top: 0.5625rem;
  }

  &__toggle-button {
    margin-top: 0.5rem;
  }

  &__submit-button {
    margin-top: 1.375rem;
    height: 2.75rem;
  }

  &__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.875rem;
  }

  &__option-label {
    flex-basis: auto;
    flex-shrink: 1;
  }

  &__option-button {
    flex-basis: 6.1875rem;
    height: 2.75rem;
  }
}


