include ../datepicker-block/datepicker-block
include ../dropdown/dropdown
include ../button/button

mixin roomSearchCard({ label })
  form.room-search-card.js-room-search-card(action="./search-room.html" method="get" name="room-search-form")
    h1.room-search-card__label= label
    .room-search-card__datepicker_is_separated
      +datepickerBlock({label: 'Прибытие', separated: true, labelSecond: 'Выезд'})
    .room-search-card__guest-select-dropdown
      -
        const items = [
          { itemLabel: 'Взрослые', itemCount: 0 },
          { itemLabel: 'Дети', itemCount: 0 },
          { itemLabel: 'Младенцы', itemCount: 0 },
        ];
      +dropdown({ label:'Гости', text: 'Сколько гостей', items })
    .room-search-card__submit-button
      +button({ label: 'подобрать номер', theme: 'filled', withArrow: true, type: 'submit' })
