@import "fonts/fontawesome.css";

@font-face {
  font-family: Quicksand;
  src: url('quicksand/quicksand-bold/Quicksand-Bold.eot');
  src: local('☺'), url('quicksand/quicksand-bold/Quicksand-Bold.ttf') format('truetype'),
    url('quicksand/quicksand-bold/Quicksand-Bold.woff') format('woff'),
    url('quicksand/quicksand-bold/Quicksand-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  src: url('quicksand/quicksand-regular/Quicksand-Regular.eot');
  src: local('☺'), url('quicksand/quicksand-regular/Quicksand-Regular.ttf') format('truetype'),
    url('quicksand/quicksand-regular/Quicksand-Regular.woff') format('woff'),
    url('quicksand/quicksand-regular/Quicksand-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('montserrat/montserrat-regular/Montserrat-Regular.eot');
  src: local('☺'), url('montserrat/montserrat-regular/Montserrat-Regular.ttf') format('truetype'),
    url('montserrat/montserrat-regular/Montserrat-Regular.woff') format('woff'),
    url('montserrat/montserrat-regular/Montserrat-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('montserrat/montserrat-bold/Montserrat-Bold.eot');
  src: local('☺'), url('montserrat/montserrat-bold/Montserrat-Bold.ttf') format('truetype'),
    url('montserrat/montserrat-bold/Montserrat-Bold.woff') format('woff'),
    url('montserrat/montserrat-bold/Montserrat-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: url('open-sans/open-sans-bold/OpenSans-Bold.eot');
  src:  local('Open Sans Bold'), local('OpenSans-Bold'), 
        url('open-sans/open-sans-bold/OpenSans-Bold.woff2') format('woff2'),
        url('open-sans/open-sans-bold/OpenSans-Bold.ttf') format('truetype'),
        url('open-sans/open-sans-bold/OpenSans-Bold.woff') format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

//font awesome
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("font-awesome/fa-brands-400.eot");
  src: url("font-awesome/fa-brands-400.eot?#iefix") format("embedded-opentype"),
    url("font-awesome/fa-brands-400.woff2") format("woff2"),
    url("font-awesome/fa-brands-400.woff") format("woff"),
    url("font-awesome/fa-brands-400.ttf") format("truetype"),
    url("font-awesome/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }
