@font-face {
  font-family: Quicksand;
  src: url('quicksand/quicksand-bold/Quicksand-Bold.eot');
  src: local('☺'), url('quicksand/quicksand-bold/Quicksand-Bold.ttf') format('truetype'),
    url('quicksand/quicksand-bold/Quicksand-Bold.woff') format('woff'),
    url('quicksand/quicksand-bold/Quicksand-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  src: url('quicksand/quicksand-regular/Quicksand-Regular.eot');
  src: local('☺'), url('quicksand/quicksand-regular/Quicksand-Regular.ttf') format('truetype'),
    url('quicksand/quicksand-regular/Quicksand-Regular.woff') format('woff'),
    url('quicksand/quicksand-regular/Quicksand-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('montserrat/montserrat-regular/Montserrat-Regular.eot');
  src: local('☺'), url('montserrat/montserrat-regular/Montserrat-Regular.ttf') format('truetype'),
    url('montserrat/montserrat-regular/Montserrat-Regular.woff') format('woff'),
    url('montserrat/montserrat-regular/Montserrat-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('montserrat/montserrat-bold/Montserrat-Bold.eot');
  src: local('☺'), url('montserrat/montserrat-bold/Montserrat-Bold.ttf') format('truetype'),
    url('montserrat/montserrat-bold/Montserrat-Bold.woff') format('woff'),
    url('montserrat/montserrat-bold/Montserrat-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('open-sans/open-sans-bold/OpenSans-Bold.eot');
  src: local('☺'), url('open-sans/open-sans-bold/OpenSans-Bold.ttf') format('truetype'),
    url('open-sans/open-sans-bold/OpenSans-Bold.woff') format('woff'),
    url('open-sans/open-sans-bold/OpenSans-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}