include ../checkbox-option/checkbox-option

mixin checkboxList(params = {})
  -
    const {
      checkboxLabel = '',
      list = [],
      closed = false,
      expandable = false,
      rich = false
    } = params;
    let classList = 'checkbox-list';
    if (expandable) {
      classList += ' js-checkbox-list_expandable checkbox-list_expandable';
      if (closed) {
        classList += ' checkbox-list_closed';
      }
    }

  div(class=classList)
    .checkbox-list__label-wrapper
      p.checkbox-list__label= checkboxLabel
    .checkbox-list__options.js-checkbox-list__options
      each item, index in list
        +checkboxOption({ option: item, rich })
