extends ../base/base

block variables
  include ../../components/header/header
  include ../../components/navigation-footer/navigation-footer
  include ../../components/login-card/login-card

  -
    const pageTitle = 'Login Page';
    const data = htmlWebpackPlugin.options.getData();
    const { headerData, footerData } = data;

block content
  .login-page
    +header({ isLoggedIn: false, headerData })
    .login-page__content
      .login-page__login-form
        +loginCard({ label: 'Войти' })
    +navigationFooter(footerData)
