extends ../base/base

block variables
  include ../../components/header/header
  include ../../components/footer/footer
  include ../../components/login-card/login-card

  -
    const pageTitle = 'Login Page';
    const data = htmlWebpackPlugin.options.getData();

block content
  .login-page
    +header({ lang: 'ru', isLoggedIn: false, data })
    .login-page__content
      .login-page__login-form
        +loginCard({ label: 'Войти' })
    +footer({ lang: 'ru', data })
