@import '../../settings.scss';

.login_page {
  height: 100vh;
  max-height: 1211px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-image: url(../../img/image4.png);
  background-position: top center;
  background-repeat: no-repeat;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__login_form {
    display: flex;
    align-items: center;
    max-width: 380px;
    width: 100%;
    margin: 163px auto;
  }
}