@import '../../settings.scss';

.login_page {
  height: 100vh;
  max-height: 74.8125rem;
  display: grid;
  grid-template-rows: auto 1fr auto;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/image4.png);
    background-size: cover;
    background-position: bottom;
  }

  &__login_form {
    display: flex;
    align-items: center;
    max-width: 23.75rem;
    width: 100%;
    margin: 10.1875rem auto;
  }
}
