extends ../base/base

block variables
  include ../../components/header/header
  include ../../components/footer/footer
  include ../../components/login-card/login-card

  -
    const pageTitle="Login Page";
    const data = htmlWebpackPlugin.options.getData();

block content
  .login_page
    +header({ lang: "ru", isLoggedIn: false, data })
    .login_page__content
      .login_page__login_form
        +loginCard({ label: "Войти" })
    +footer({ lang: "ru", data })