include ./palette/palette

.colors_palettes
	+palette('#1F2041', 'Dark_Shade', '100%')
	+palette('#1F2041','Dark_Shade', '75%')
	+palette('#1F2041','Dark_Shade', '50%')
	+palette('#1F2041','Dark_Shade', '25%')
	+palette('#1F2041','Dark_Shade', '5%')
	+palette('#BC9CFF','Purple')
	+palette('#6FCF97','Green')