mixin iconItem(params = {})
  -
    const { icon, label, description } = params;

  .icon_item
    .icon_item__icon
      i.material-icons= icon
    .icon_item__text
      p.icon_item__label= label
      p.icon_item__desription= description