.icon-item {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 0.625rem;
  border-bottom: 0.0625rem solid $dark-10;
  padding: 1.25rem 0 1.25rem;

  &:first-child {
    padding-top: 0;
  }

  &__icon-wrapper {
    width: 3rem;
    height: 3rem;
  }

  &__icon {
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    background: $primary-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__label {
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.71429;
  }

  &:last-child {
    border: none;
    padding-bottom: 0;
  }
}
