include ../button/button
include ../nav-bar/nav-bar
include ../logo/logo

mixin header(params = {})
  -
    const { isLoggedIn = false, userName, headerData } = params;
    const { navigationList, loginLabel, regLabel } = headerData;
    let classList = 'header';
    if (isLoggedIn) {
      classList += ' header_logged-in';
    }

  header(class=classList)
    .header__elements
      a.header__logo(href="./")
        img(src="./img/logo.svg" alt="TOXIN")
      nav.header__nav-bar
        .header__nav-bar-wrapper
          +navBar({ itemList: navigationList, display: 'horizontal' })
      if (isLoggedIn)
        span.header__user-name= userName
      else
        .header__buttons
          a.header__login-button(href="./login-page.html")
            +button({ label: loginLabel, theme: 'outline' })
          a.header__registration-button(href="./registration-page.html")
            +button({ label: regLabel, theme: 'filled' })
