@import '../../settings.scss';

.logo_wrapper {
  position: absolute;
  top: 1.875rem;
  left: 1.875rem;
}

.colors_wrapper {
  position: absolute;
  top: 9.0625rem;
  left: 9.3594rem;
}

.type_wrapper {
  position: absolute;
  top: 9.0625rem;
  left: 52.875rem;
}
