extends ../base/base_fix

block variables
  include ../../components/logo/logo
  include ../../components/palette/palette
  include ../../components/type-example/type-example

  - const pageTitle = 'Colors and type';

block content
  .colors-n-types
    .colors-n-types__logo-wrapper
      +logo({ width: '48', height: '48', fill: '#1F2041', fillOpacity: '.25' })
    .colors-n-types__colors-wrapper
      .colors-n-types__colors-palettes
        +palette()
        +palette({ color: '#1F2041', colorName: 'Dark-Shade', opacity: '75%' })
        +palette({ color: '#1F2041', colorName: 'Dark-Shade', opacity: '50%' })
        +palette({ color: '#1F2041', colorName: 'Dark-Shade', opacity: '25%' })
        +palette({ color: '#1F2041', colorName: 'Dark-Shade', opacity: '5%' })
        +palette({ color: '#BC9CFF', colorName: 'Purple' })
        +palette({ color: '#6FCF97', colorName: 'Green' })
    .colors-n-types__types-wrapper
      .colors-n-types__types
        +typeExample({ tagName: 'H1', text: 'This one is the sub-section or widget title' })
        +typeExample({ tagName: 'H2', text: 'Next one is the item title inside widgets' })
        +typeExample({ tagName: 'H3', text: 'This is a label or CTA text' })
        +typeExample({ tagName: 'Body', text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.' })
