.colors-n-types {
  &__logo-wrapper {
    position: absolute;
    top: 1.875rem;
    left: 1.875rem;
  }
  
  &__colors-wrapper {
    position: absolute;
    top: 9.0625rem;
    left: 9.3594rem;
  }
  
  &__colors-palettes {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem;
  }
  
  &__types-wrapper {
    position: absolute;
    top: 9.0625rem;
    left: 52.875rem;
  }
  
  &__types {
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 3.125rem;
    width: 25.1875rem;
  }
}
