extends ../base/base_fix

block variables
  include ../../components/logo/logo

  - var pageTitle = "Colors and type"

block content
  .colors-n-types
    .logo_wrapper
      +logo({width: "48", height: "48", fill: "#1F2041", fillOpacity: ".25"})
    .colors_wrapper
      include ../../components/color_palettes/color_palettes
    .type_wrapper
      include ../../components/type/type
