include ./__option/option

mixin expandableCheckBoxList(params)
  -
    var { checkboxLabel, list={}, opened=false } = params
    var classList = "form__checkbox_expandable"
    if (opened) {
      classList += " form__checkbox_expandable_opened"
    }

  div(class=classList)
    .checkbox__label_wrapper
      p.checkbox__label=checkboxLabel
    .checkbox__options_wrapper
      each item, index in list
        +checkOption(item)
        
        