mixin palette(params = {})
  -
    const {
      color = '#1F2041',
      colorName = 'Dark_Shade',
      opacity,
    } = params;
    const nameArr = colorName.split('_');
    const nameOfColor = nameArr.join(' ');
    let name = nameOfColor;
    let sampleClassName = 'palette__sample_color-is-' + colorName.toLowerCase();
    if (opacity) {
      name = nameOfColor + ' ' + opacity;
      sampleClassName += '-' + opacity.split('%')[0];
    }

  .palette
    .palette__sample(class=sampleClassName)
    .palette__description
      .palette__name= name
      .palette__hex= color
