.palette {
  display: grid;
  grid-template-columns: 4.375rem 1fr;
  grid-column-gap: 2.5rem;
  align-items: center;

  &__description {
    color: #1f2041;
    font-size: 1.1875rem;
    line-height: 1.5263;
    width: 9.9375rem;
    height: 3.5625rem;
  }

  &__name {
    font-family: Quicksand, Arial, sans-serif;
    font-weight: bold;
    opacity: 1;
  }

  &__hex {
    font-family: Quicksand, Arial, sans-serif;
    font-weight: normal;
    opacity: 1;
  }

  &__sample {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 0.375rem;

    &_color-is {
      &-dark-shade-100,
      &-dark-shade {
        background-color: $dark-100;
      }

      &-dark-shade-75 {
        background-color: $dark-75;
      }

      &-dark-shade-50 {
        background-color: $dark-50;
      }
  
      &-dark-shade-25 {
        background-color: $dark-25;
      }

      &-dark-shade-5 {
        background-color: $dark-5;
      }

      &-purple {
        background-color: $primary-purple;
      }

      &-green {
        background-color: $primary-green;
      }
    }
  }
}
