.palette__sample {
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 0.375rem;

  &_coloris {
    &_dark_shade_100 {
      background-color: $dark-100;
    }

    &_dark_shade_75 {
      background-color: $dark-75;
    }

    &_dark_shade_50 {
      background-color: $dark-50;
    }

    &_dark_shade_25 {
      background-color: $dark-25;
    }

    &_dark_shade_5 {
      background-color: $dark-5;
    }

    &_purple {
      background-color: $primary-purple;
    }

    &_green {
      background-color: $primary-green;
    }
  }
}
