@import "../../settings.scss";
@import "./__option/option.scss";

.form__checkbox {

  .checkbox__label_wrapper {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .checkbox__label {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    color: $dark-100;
    text-transform: uppercase;
    margin: 0;
    padding: 0.1875rem 0 1.0625rem 0;
  }

  .checkbox__options {
    display: grid;
    grid-row-gap: 0.625rem;
  }

  &_expandable {

    .checkbox__label_wrapper {

      & .checkbox__label {
        padding: 0;
      }

      &::after {
        font-family: "Material Icons";
        width: 2.75rem;
        height: 2.75rem;
        font-size: 1.5rem;
        line-height: 2.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        content: "expand_more";
      }
    }

    .checkbox__options {
      display: none;
      padding-top: 0.25rem;    
    }

    &_opened {
      .checkbox__label_wrapper::after {
        transform: rotate(180deg);
      }

      & .checkbox__options {
        display: grid;
        grid-row-gap: 0.625rem;     
      }
    }
  }

  &_rich {

    .checkbox__option_label {
      font-weight: bold;
      color: $dark-75;
    }

    .checkbox__option_description {
      font-size: 0.75rem;
      line-height: 0.875rem;
      padding: 0.25rem 0.3125rem 0 1.875rem;
      margin: 0;
    }
  }
}
