extends ../base/base

block variables
  - const pageTitle = 'UIKit Navigation';

block content
  div
    a(href="./colors-n-type.html") Colors and type
  div
    a(href="./form-elements.html") Form-elements
  div
    a(href="./cards.html") Cards
  div
    a(href="./headers-n-footers.html") Headers & Footers
  div
    a(href="./index.html") Landing Page
  div
    a(href="./search-room.html") Search Room
  div
    a(href="./room-details.html") Room Details
  div
    a(href="./registration-page.html") Registration Page
  div
    a(href="./login-page.html") Login Page
