mixin bulletListItem(params= {})
  -
    const { label = "" } = params;
    let classList = "bullet_list__item";

  li(class=classList)=label

mixin bulletList(params = {})
  -
    const { label = "", itemList = [] } = params;
  
  lh.bullet_list__label.like_h3=label
  ul.bullet_list__list
    each item in itemList
      +bulletListItem(item)