@import "../../settings.scss";

.footer {
  background: #FFFFFF;
  box-shadow: 0rem 0.625rem 1.25rem $dark-5;

  &__logo_n_widgets_block {
    max-width: 72.5rem;
    margin: auto;
    display: grid;
    grid-template-columns: 16.25rem auto 16.25rem;
    grid-gap: 2.5rem;
    padding: 6.25rem 0rem 6.0625rem; 
    border-bottom: 0.0625rem solid $dark-10;   
  }

  &__logo {
    text-align: center;
    max-width: 35rem;
    margin: auto;
    margin-top: 6.25rem;
    margin-bottom: 1.6875rem;
  }

  &__description {
    margin-top: 0.6875rem;
  }

  &__copyright_n_socials_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 72.5rem;
    margin: auto;
    padding: 1.4375rem 0;
  }

  &__widgets_block {
    display: flex;
    justify-content: space-between;
    padding-top: 0.25rem;
    padding-right: 3.125rem;
  }

  &__navigation_list_title,
  &__about_us_list_title,
  &__support_list_title {
    margin-bottom: 1.125rem;
  }

  &__subscribe_block {
    padding-top: 0.25rem;
  }

  &__subscribe_text {
    margin-top: 1.1875rem;
  }

  &__subscribe_input {
    margin-top: 1.375rem;
  }

  &__delimiter {
    max-width: 90rem;
    margin: auto;
    height: 0.0625rem;
    background-color: $dark-10;
  }

  &__socials_block {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 1.25rem;
    justify-content: center;
  }

  &__socials {
    text-align: center;
    margin-bottom: 6.875rem;
  }

  &__social {
    font-size: 1.5rem;
    line-height: 1.4375rem;    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    background: $primary-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &_ru {
    & .footer__widgets_block {
      padding-right: 0.75rem;
    }

    & .footer__about_us_block {
      margin-right: 2.125rem;
    }
  }
}

@media screen and (max-width: 1220px) {
  .footer {
    padding-top: 0;
    padding-bottom: 0;

    &__logo,
    &__logo_n_widgets_block,
    &__socials,
    &__copyright_n_socials_block {
      padding-right: 1.875rem;
      padding-left: 1.875rem;
    }

    &__widgets_block {
      padding-right: 0;
    }

    &__logo_n_widgets_block {
      grid-template-columns: repeat(2, minmax(auto, 480px));
      justify-content: space-between;  
    }

    &__widgets_block {
      grid-row: 1;
      grid-column: 1/3;
      justify-content: space-between;
      align-items: flex-start;
      padding-right: 0;
    }

    &__navigation_block,
    &__about_us_block {
      margin-right: 1.25rem;
    }

    &__navigation_block,
    &__about_us_block,
    &__support_block {
      display: flex;
      position: relative;
    }

    &__navigation_block::after,
    &__about_us_block::after,
    &__support_block::after {
      font-family: "Material Icons";
      font-size: 1.25rem;
      line-height: 0.9375rem;
      display: flex;
      justify-content: center;
      align-items: center;
      content: "expand_more";
      color: $dark-50;
      margin-right: 0;
    }

    &__navigation_list,
    &__about_us_list,
    &__support_list {
      display: none;
      background-color: #fff;
      z-index: 999;
    }

    &__about_us_block:hover > div,
    &__navigation_block:hover > div {
      display: block;
      position: absolute;
      top: 1.25rem;
      padding: 0.9375rem;
    }

    &__support_block:hover > div {
      display: block;
      position: absolute;
      top: 1.25rem;
      right: -0.9375rem;
      padding: 0.9375rem;
    }

    &__navigation_list_title,
    &__about_us_list_title,
    &__support_list_title {
      margin-bottom: 0rem;
    }
  }
}

@media screen and (max-width: 32.5rem) {
  .footer {

    &__logo_n_widgets_block {
      grid-template-columns: auto;
      justify-content: center;
      padding: 2.5rem 2rem;
      text-align: center;
    }

    &__widgets_block {
      grid-row: 1;
      grid-column: 1;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__navigation_block {
      margin-bottom: 0.9375rem;
    }

    &__support_block {
      margin: 0 auto;
    }

    &__navigation_block:hover > div li {
        text-align: left;
    }

    &__about_us_block:hover > div,
    &__support_block:hover > div {
      top: 1.25rem;
      right: -0.9375rem;
    }

    &__copyright_n_socials_block {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      padding: 1.25rem 2rem;
    }

    &__copyright_block {
      margin-bottom: 0.9375rem;
    }
  }
}
