.footer {
  background: #FFFFFF;
  box-shadow: 0rem 0.625rem 1.25rem $dark-5;

  @media screen and (max-width: 1220px) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__logo {
    text-align: center;
    max-width: 35rem;
    margin: auto;
    margin-top: 6.25rem;
    margin-bottom: 1.6875rem;

    @media screen and (max-width: 1220px) {
      padding-right: 1.875rem;
      padding-left: 1.875rem;
    }
  }

  &__description {
    margin-top: 0.6875rem;
  }

  &__socials-block {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 1.25rem;
    justify-content: center;
  }

  &__socials {
    text-align: center;
    margin-bottom: 6.875rem;

    @media screen and (max-width: 1220px) {
      padding-right: 1.875rem;
      padding-left: 1.875rem;
    }
  }

  &__social {
    font-size: 1.5rem;
    line-height: 0.9583333;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    background: $primary-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
