include ../nav-bar/nav-bar
include ../input/input

mixin footer(footerData)
  -
    const { descriptionText } = footerData;

  footer.footer
    div(class="footer__logo")
      .footer__logo-block
        img(class="footer__logo-img" src="./img/logo.svg" alt="TOXIN")
        .footer__description= descriptionText
    div(class="footer__socials")
      .footer__socials-block
        a.footer__social(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
          i(class="fab fa-twitter")
        a.footer__social(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
          i(class="fab fa-facebook-square")
        a.footer__social(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
          i(class="fab fa-instagram")
