include ../social-link/social-link

mixin footer(footerData)
  -
    const { descriptionText } = footerData;

  footer.footer
    div(class="footer__logo")
      .footer__logo-block
        img(class="footer__logo-img" src="./img/logo.svg" alt="TOXIN")
        .footer__description= descriptionText
    div(class="footer__socials")
      .footer__socials-block
        +social-link('twitter')
        +social-link('facebook')
        +social-link('instagram')
