include ../nav-bar/nav-bar
include ../input/input

mixin footer(params = {})
  -
    const { lang = 'ru', data } = params;
    let currData;
    if (lang === 'en') {
      currData = data.dataEn.footer;
    } else {
      currData = data.dataRu.footer;
    }
    const { descriptionText } = currData;
    let classList = 'footer';
    if (lang === 'ru')  {
      classList += ' footer_ru';
    }

  footer(class=classList)
    div(class="footer__logo")
      .footer__logo-block
        img(class="footer__logo-img" src="./img/logo.svg" alt="TOXIN")
        .footer__description= descriptionText
    div(class="footer__socials")
      .footer__socials-block
        a.footer__social(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
          i(class="fab fa-twitter")
        a.footer__social(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
          i(class="fab fa-facebook-square")
        a.footer__social(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
          i(class="fab fa-instagram")
