include ../datepicker/datepicker
include ../dropdown/dropdown
include ../button/button

mixin roomRateCard()
  -
    var dropdownItems = [
          {itemLabel: "Взрослые", itemCount: 2},
          {itemLabel: "Дети", itemCount: 1},
          {itemLabel: "Младенцы", itemCount: 0},
        ]
    var datepickerParams = {
        label: "Прибытие",
        separated: true,
        labelSecond: "Выезд",
        value: "19.08.2019",
        valueSecond: "23.08.2019"
      }

  form.room_rate_card.js_room_rate_card
    .room_rate_card__room_info_block
      .room_rate_card__number_block
        span.room_rate_card__number_sign №
        span.room_rate_card__number 888
      .room_rate_card__price_block
        span.room_rate_card__price
        span.room_rate_card__price_text в сутки
    .room_rate_card__datepicker_is_separated
      +datepicker(datepickerParams)
    .room_rate_card__guest_select_dropdown
      +dropdown({label:"Гости", text: "Сколько гостей", items: dropdownItems})
    .room_rate_card__calculations_block
      .room_rate_card__days_cost_calc
        span.room_rate_card__cost_calc
        span.room_rate_card__days_total_cost
      .room_rate_card__services_calc
        span.room_rate_card__services_text
        .room_rate_card__services_info i
          ol.room_rate_card__services_list
        span.room_rate_card__services_total_cost
      .room_rate_card__additional_services_calc
        span.room_rate_card__additional_services_text
        .room_rate_card__additional_services_info i
          ol.room_rate_card__services_list
        span.room_rate_card__additional_services_total_cost
    .room_rate_card__total_cost
      span.room_rate_card__total_text Итого
      .room_rate_card__dashed_border
      span.room_rate_card__total
    .room_rate_card__submit_button
      +button( {label: "забронировать", style: "filled", arrow: true } )