include ../datepicker-block/datepicker-block
include ../dropdown/dropdown
include ../button/button

mixin roomRateCard()
  -
    const dropdownItems = [
          {itemLabel: 'Взрослые', itemCount: 2},
          {itemLabel: 'Дети', itemCount: 1},
          {itemLabel: 'Младенцы', itemCount: 0},
        ];
    const datepickerParams = {
        label: 'Прибытие',
        separated: true,
        labelSecond: 'Выезд',
        value: '2019-08-19',
        valueSecond: '2019-08-23'
      };

  form.room-rate-card.js-room-rate-card(action="/mock-address/change-me" method="post" name="room-rate-form")
    .room-rate-card__room-info-block
      .room-rate-card__number-block
        span.room-rate-card__number-sign №
        span.room-rate-card__number 888
      .room-rate-card__price-block
        span.room-rate-card__price
        span.room-rate-card__price-text в сутки
    .room-rate-card__datepicker_is_separated
      +datepickerBlock(datepickerParams)
    .room-rate-card__guest-select-dropdown
      +dropdown({ label:'Гости', text: 'Сколько гостей', items: dropdownItems })
    .room-rate-card__calculations-block
      .room-rate-card__days-cost-calc
        span.room-rate-card__cost-calc
        span.room-rate-card__days-total-cost
      .room-rate-card__services-calc
        span.room-rate-card__services-text
        .room-rate-card__services-info i
          ol.room-rate-card__services-list
        span.room-rate-card__services-total-cost
      .room-rate-card__additional-services-calc
        span.room-rate-card__additional-services-text
        .room-rate-card__additional-services-info i
          ol.room-rate-card__services-list
        span.room-rate-card__additional-services-total-cost
    .room-rate-card__total-cost
      span.room-rate-card__total-text Итого
      .room-rate-card__dashed-border
      span.room-rate-card__total
    .room-rate-card__submit-button
      +button({
        label: 'забронировать',
        theme: 'filled',
        withArrow: true,
        type: 'submit',
      })
