@import '../../settings.scss';

.room_rate_card {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  padding: 2.5rem calc(50% - 10rem) 1.875rem;

  background: #FFFFFF;
  border: 0.0625rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0rem 0rem 1.5625rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;

  &__room_info_block {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  &__number_block {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }

  &__number_sign {
    margin-right: 0.25rem;
  }

  &__number {
    font-size: 1.1875rem;
  }

  &__lux_flag {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: $primary-purple;
    margin-left: 0.3125rem;
  }

  &__price_block {
    font-family: Montserrat;
    font-style: normal;
    color: $dark-50;
    line-height: 1.125rem;
    justify-self: end;
  }

  &__price {
    font-weight: bold;
    font-size: 0.875rem;
  }

  &__price_text {
    font-size: 0.75rem;
    margin-left: 0.3125rem;
  }
}
