@import '../../settings.scss';

.nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (max-width: 46.875rem) {
    justify-content: space-between;
  }

  @media screen and (max-width: 37.5rem) {
    flex-direction: column;
    justify-content: flex-end;
  }

  &_vertical {
    flex-direction: column;

    & > li {
      margin-bottom: 0.875rem;
      margin-right: 0;
    }

    & > li:last-child {
      margin-bottom: 0;
    }
  }

  &__nested_list {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    z-index: 2;
  }

  & > li:last-child {

    @media screen and (max-width: 46.875rem) {
      margin-right: 0;
    }
  }

  &_ru {
    & > .nav_bar__item {
      margin-right: 1.4375rem;

      @media screen and (max-width: 37.5rem) {
        margin-right: 0;
      }
    }
  }
}
