.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (max-width: 750px) {
    justify-content: space-between;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: flex-end;
  }

  &_vertical {
    flex-direction: column;

    & > .nav-bar-item {
      margin-bottom: 0.875rem;
      margin-right: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  & > .nav-bar-item {
    margin-right: 1.4375rem;

    @media screen and (max-width: 600px) {
      margin-right: 0;
    }
  
    &:last-child {

      @media screen and (max-width: 750px) {
        margin-right: 0;
      }
    }
  }
}
