@import "../../settings.scss";

.nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    margin-right: 1.875rem;
  }

  &_vertical {
    flex-direction: column;

    & > li {
      margin-bottom: 0.875rem;
      margin-right: 0;
    }

    & > li:last-child {
      margin-bottom: 0;
    }
  }

  &__item_link {
    color: $dark-50;
    text-decoration: none;
    white-space: nowrap;
    letter-spacing: -0.013rem;
  }

  &__item.active {
    font-weight: bold;
    color: $dark-75;
  }

  &__item_nested {
    position: relative;
    cursor: pointer;
    display: flex;
    margin-right: 1.25rem;
    color: $dark-50;

    &::after {
      font-family: "Material Icons";
      font-size: 24px;
      line-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      content: "expand_more";
      color: $dark-50;
    }

    &:hover > ul {
      display: block;
      position: absolute;
      top: 1.5rem;
      padding-left: 0.625rem;
    }
  }

  &__nested_list {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    z-index: 2;
  }

  &_ru {
    & > .nav_bar__item {
      margin-right: 1.4375rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .nav_bar {
    justify-content: space-between;
    
    & > li:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .nav_bar {
    flex-direction: column;
    justify-content: flex-end;

    &__item {
      margin-right: 0;
      padding-right: 0.625rem;
      text-align: end;
    }

    &__item_nested {
      margin-right: 0;
      padding-right: 0.625rem;
      justify-content: flex-end;

      &::before {
        font-family: "Material Icons";
        font-size: 1.5rem;
        line-height: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        content: "expand_more";
        color: $dark-50;
      }

      &::after {
        display: none;
      }

      &:hover {

        &::before {
          transform: rotate(90deg);
        }
      
        & > ul {
          border: 1px solid $dark-10;
          top: 0;
          right: 100%;
        }
      }
    }
  }
}
