include ../rate-button/rate-button

mixin roomCard(params)
  -
    var {number} = params
    var rateName = 'rate'+number

  .room_card.js_room_card(data-number=number)
    .room_card__images_block
      .room-card__indicatrors
    .room_card__number_block
      span.room_card__number_sign №
      span.room_card__number=number
    .room_card__price_block
      span.room_card__price_text в сутки
    .room_card__delimiter
    .room_card__rate
      +rateButton({name: rateName, disabled: true})
    .room_card__reviews
      span.room_card__review_text Отзывов