@import "../../settings.scss";

.room_card {
  background: #FFFFFF;
  box-shadow: 0rem 0.625rem 1.25rem $dark-5;
  border-radius: 0.25rem;
  width: 16.875rem;

  &__room_info_block {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 1.5rem 1.0625rem 0.4375rem 1.25rem;
  }

  &__number_block {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }

  &__number_sign {
    margin-right: 0.25rem;
  }

  &__number {
    font-size: 1.1875rem;
  }

  &__lux_flag {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: $primary-purple;
    margin-left: 0.3125rem;
  }

  &__price_block {
    font-family: Montserrat;
    font-style: normal;
    color: $dark-50;
    line-height: 1.125rem;
    justify-self: end;
  }

  &__price {
    font-weight: bold;
    font-size: 0.875rem;
  }

  &__price_text {
    font-size: 0.75rem;
    margin-left: 0.3125rem;
  }

  &__delimiter {
    grid-column: 1 / -1;
    height: 0.0625rem;
    background-color: $dark-10;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
  }

  &__reviews_block {
    color: $dark-50;    
    justify-self: end;
  }

  &__number_of_reviews {
    font-weight: bold;
  }

  &__review_text {
    margin-left: 0.1875rem;
    padding-right: 0.1875rem;
  }

  &__images_block {
    height: 9.4375rem;
    width: 16.875rem;
    position: relative;
    border-radius: 0.25rem;
  }

  &__indicators {
    padding: 0;
    margin: 0;
    position: absolute;
    display: flex;
    right: 0.9375rem;
    bottom: 0.9444rem;
    width: 2.5781rem;
    justify-content: space-between;

    & > li {
      list-style-type: none;
      width: 0.4688rem;
      height: 0.4688rem;
      border: 0.0625rem solid white;
      border-radius: 50%;
      box-sizing: border-box;
      box-shadow: 0rem 0.3125rem 0.3125rem rgba(31, 32, 65, 0.3);
      cursor: pointer;

      &.active {
        border: none;
        background-color: #fff;
      }

      &.disabled {
        cursor: default;
      }
    }
  }

  &__images {
    height: 100%;
  }

  &__image {
    background-repeat: no-repeat;
    height: 100%;
    display: none;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

    &.active {
      display: block;
    }
  }

  &__control_prev {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    align-items: center;
    border-top-left-radius: 0.25rem;

    & .room_card__control_icon {
      font-size: 1.5rem;
      height: 2.75rem;
      width: 2.75rem;
      line-height: 2.75rem;
      text-align: center;
      vertical-align: middle;
      color: #fff;
      transform: rotate(90deg);
      cursor: pointer;
    }
  }

  &__control_next {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    display: flex;
    align-items: center;
    border-top-left-radius: 0.25rem;

    & .room_card__control_icon {
      font-size: 1.5rem;
      height: 2.75rem;
      width: 2.75rem;
      line-height: 2.75rem;
      text-align: center;
      vertical-align: middle;
      color: #fff;
      transform: rotate(90deg);
      cursor: pointer;
    }
  }
}
