include ../rate-button/rate-button

mixin roomCard(params)
  -
    var {number} = params

  .room_card.js_room_card(data-number=number)
    ul.room_card__images_block
    .room_card__number_block
      span.room_card__number_sign №
      span.room_card__number=number
    .room_card__price
    .room_card__rate
      +rateButton({})
    .room_card__reviews