@import "./fonts/fonts.scss";
@import "./settings.scss";
@import "./ui-kits/colors-n-type/colors-n-type.scss";
@import "./ui-kits/form-elements/form_elements.scss";



body {
	margin: 0;
	padding: 0;
}

.colors-n-types {
	background-color: #fff;
}
