@import './fonts/fonts.scss';
@import 'material-icons/iconfont/material-icons.scss';
@import "./settings.scss";

h1 {
	font-family: Quicksand, 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.8125rem;
  color: $dark-100;
  margin: 0;
}

h2 {
	font-family: Quicksand, 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1.1875rem;
	line-height: 1.4375rem;
	color: $dark-100;
}

h3,
.like_h3 {
	font-family: Montserrat, Arial, sans-serif;
	font-weight: bold;
	font-size: 0.75rem;
	line-height: 0.9375rem;
	text-transform: uppercase;
	margin: 0;
	color: $dark-100;
}

body {
	font-family: Montserrat, Arial, sans-serif;
	font-size: 0.875rem;
	line-height: 1.5rem;
  color: $dark-75;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}
