@import './fonts/fonts.scss';
@import 'material-icons/iconfont/material-icons.scss';
@import './settings.scss';
@import './components/**/*.scss';
@import './pages/**/*.scss';

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  min-width: 100%;
  height: 100%;
  font: 16px Montserrat, Arial, sans-serif;
  color: $dark-75;
  background-color: white;

  @media screen and (max-width: 21.25rem) {
    font-size: 14px;
  }
}

body {
  min-width: 100%;
  height: 100%;
  font: 0.875rem/1.7143 Montserrat, Arial, sans-serif;
  color: $dark-75;
}
