@import './fonts/fonts.scss';

//Material icons
@import 'material-icons/iconfont/material-icons.scss';

$dark-100: #1f2041;
$dark-75: rgba(31, 32, 65, .75);
$dark-50: rgba(31, 32, 65, .5);
$dark-25: rgba(31, 32, 65, .25);
$dark-10: rgba(31, 32, 65, .1);
$dark-5: rgba(31, 32, 65, .05);
$primary-purple: #bc9cff;
$primary-green: #6fcf97;
$primary-gradient: linear-gradient(180deg, $primary-purple 0%, #8BA4F9 100%);
$secondary-gradient: linear-gradient(180deg, $primary-green 0%, #66D2EA 100%);;

h1 {
	font-family: Quicksand, OpenSans, sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: $dark-100;
}

h2 {
	font-family: Quicksand, OpenSans, sans-serif;
	font-weight: bold;
	font-size: 19px;
	line-height: 23px;
	color: $dark-100;
}

h3,
.like_h3 {
	font-family: Montserrat, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	margin: 0;
	color: $dark-100;
}

body {
	font-family: Montserrat, Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: $dark-75;
}

p {
  padding: 0;
  margin: 0;
}
