$dark-100: #1f2041;
$dark-75: rgba(31, 32, 65, .75);
$dark-50: rgba(31, 32, 65, .5);
$dark-25: rgba(31, 32, 65, .25);
$dark-10: rgba(31, 32, 65, .1);
$dark-5: rgba(31, 32, 65, .05);
$primary-purple: #bc9cff;
$primary-green: #6fcf97;
$primary-gradient: linear-gradient(180deg, $primary-purple 0%, #8BA4F9 100%);
$secondary-gradient: linear-gradient(180deg, $primary-green 0%, #66D2EA 100%);

@mixin h1-text {
  font: bold 1.5rem/1.2083 Quicksand, 'Open Sans', sans-serif;
  color: $dark-100;
  margin: 0;
}

@mixin h2-text {
  font: bold 1.1875/1.2105  Quicksand, 'Open Sans', sans-serif;
  color: $dark-100;
  margin: 0;
}

@mixin h3-text {
  font: bold 0.75rem/1.25 Montserrat, Arial, sans-serif;
  text-transform: uppercase;
  margin: 0;
  color: $dark-100;
}
