@import "../../settings.scss";

.cards {
  max-width: 1920px;
  min-width: 320px;
  margin: auto;
  padding-top: 150px;
  background-color: #f4f4f6;
  position: relative;

  &_grid {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 380px)) 320px;
    grid-template-rows: auto;
    column-gap: 40px;
    grid-auto-flow: row dense;
    justify-content: center;

    &_col {
      display: flex;
      flex-direction: column;
      max-width: 380px;

      & > div:nth-child(n) {
        margin-bottom: 40px;
      }
    }
  }
}

.logo_wrapper {
  position: absolute;
  top: 30px;
  left: 30px;
}

// .room_search_card_wrapper  {
// }

.account_registration_card_wrapper  {
  border: 1px solid blue;

  & .content {
    height: 646px;
  }
}

.room_rate_card_wrapper  {
  border: 1px solid blue;

  & .content {
    height: 511px;
  }
}

// .login_card_wrapper  {
// }

// .calendar_card_wrapper  {
// }

.room_card_wrapper  {
  border: 1px solid blue;
  

  & .content {
    height: 257px;
    width: 270px;
  }
}

.content {
  background: yellow;
}

@media screen and (max-width: 1040px) {
  .cards_grid {
    grid-template-columns: repeat(2, minmax(320px, 380px));
  }
}

@media screen and (max-width: 680px) {
  .cards_grid {
    grid-template-columns: minmax(320px, 380px);
  }
}
