@import '../../settings.scss';

.cards {
  max-width: 120rem;
  min-width: 20rem;
  margin: auto;
  padding-top: 9.375rem;
  background-color: #f4f4f6;
  position: relative;
  margin-left: 3.4375rem;

  &__logo_wrapper {
    position: absolute;
    top: 1.875rem;
    left: -1.625rem;
  }

  &_grid {
    max-width: 90rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 23.75rem));
    column-gap: 2.5rem;
    justify-content: center;
    
    &_col {
      display: flex;
      flex-direction: column;
      max-width: 23.75rem;

      & > div:nth-child(n) {
        margin-bottom: 2.5rem;
      }

      & > form:nth-child(n) {
        margin-bottom: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 855px) {
  .cards {
    margin-left: 0;

    &__logo_wrapper {
      left: 1.875rem;
    }
  }
}
