.cards {
  min-width: 20rem;
  height: 100vh;
  margin: auto;
  background-color: #f4f4f6;
  padding-top: 9.375rem;
  position: relative;

  @media screen and (max-width: 855px) {
    margin-left: 0;
  }

  &__logo-wrapper {
    position: relative;
    top: -1.875rem;
    padding-left: calc(50% - 45rem + 1.875rem);

    @media screen and (max-width: 1440px) {
      left: 1.875rem;
    }
  }

  &__grid {
    max-width: 90rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 23.75rem));
    column-gap: 2.5rem;
    justify-content: center;
    
    &-col {
      display: flex;
      flex-direction: column;
      max-width: 23.75rem;

      & > div:nth-child(n) {
        margin-bottom: 2.5rem;
      }

      & > form:nth-child(n) {
        margin-bottom: 2.5rem;
      }
    }
  }
}
