extends ../base/base

block variables

  - var pageTitle = 'Cards'

block content
  .cards
    .cards_grid
      .cards_grid_col
        .room_search_card 
          .content Room Search Card
        .account_registration_card
          .content Account Registration Card
      .cards_grid_col
        .room_rate_card
          .content Room Rate Card
        .login_card 
          .content Login Card
      .cards_grid_col
        .calendar_card
          .content Calendar Card
        .room_card
          .content Room Card
        .room_card 
          .content Room Card