extends ../base/base

block variables

  - var pageTitle = 'Cards'

block content
  .cards
    .cards_grid
      .cards_grid_col
        .room_search_card Room Search Card
        .account_registration_card Account Registration Card
      .cards_grid_col
        .room_rate_card Room Rate Card
        .login_card Login Card
      .cards_grid_col
        .calendar_card Calendar Card
        .room_card Room Card
        .room_card Room Card