extends ../base/base

block variables

  - var pageTitle = 'Cards'

block content
  .cards
    .col
      .room_search_card Room Search Card
      .account_registration_card Account Registration Card
    .col
      .room_rate_card Room Rate Card
      .login_card Login Card
    .col
      .calendar_card Calendar Card
      .room_card Room Card
      .room_card Room Card