.palette__sample {
	width: 70px;
	height: 70px;
	border-radius: 6px;

	&_coloris {
		&_dark_shade_100 {
			background-color: #1F2041;
		}

		&_purple {
			background-color: #BC9CFF;
		}

		&_green {
			background-color: #6FCF97;
		}
	}

}
