.palette__sample {
	width: 70px;
	height: 70px;
	border-radius: 6px;

	&_coloris {
		&_dark_shade_100 {
<<<<<<< HEAD
			background-color: $dark-100;
=======
			background-color: #1F2041;
>>>>>>> master
		}

		&_dark_shade_75 {
			background-color: $dark-75;
		}

		&_dark_shade_50 {
			background-color: $dark-50;
		}

<<<<<<< HEAD
		&_dark_shade_25 {
			background-color: $dark-25;
		}

		&_dark_shade_5 {
			background-color: $dark-5;
		}

		&_purple {
			background-color: $primary-purple;
		}

		&_green {
			background-color: $primary-green;
		}
	}

=======
>>>>>>> master
}
