@import '../../settings.scss';

.room_images {
  display: grid;
  grid-template-columns: minmax(50%, 1fr) minmax(461px, 1fr);
  height: 100%;
  width: 100%;

  @media screen and (max-width: 922px) {
    display: block;
    height: 15.25rem;
    position: relative;
  }

  &__image {
    background-size: cover;

    @media screen and (max-width: 57.625rem) {
      display: none;
      height: 100%;
      background-size: cover;
    }

    &.active {

      @media screen and (max-width: 57.625rem) {
        display: block;
      }
    }

    &:nth-child(1) {
      grid-row: 1/3;
      background-position: center;
    }
  
    &:nth-child(n) {
      background-repeat: no-repeat;
    }
  }

  &__indicators_block {
    display: none;

    @media screen and (max-width: 57.625rem) {
      padding: 0;
      margin: 0;
      position: absolute;
      display: flex;
      text-align: center;
      left: calc(50% - 1.25rem);
      bottom: 0.9375rem;
      width: 2.5rem;
      justify-content: space-between;
    }

    & > li {

      @media screen and (max-width: 57.625rem) {
        list-style-type: none;
        width: 0.4688rem;
        height: 0.4688rem;
        border: 0.0625rem solid white;
        border-radius: 50%;
        box-sizing: border-box;
        box-shadow: 0rem 0.3125rem 0.3125rem rgba(31, 32, 65, 0.3);
        cursor: pointer;
      }

      &.active {

        @media screen and (max-width: 57.625rem) {
          border: none;
          background-color: #fff;
        }
      }

      &.disabled {

        @media screen and (max-width: 57.625rem) {
          cursor: default;
        }
      }
    }
  }

  &__control_prev {
    display: none;

    @media screen and (max-width: 57.625rem) {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
      display: flex;
      align-items: center;
      border-top-left-radius: 0.25rem;
    }

    & .room_images__control_icon {

      @media screen and (max-width: 57.625rem) {
        font-size: 1.5rem;
        height: 2.75rem;
        width: 2.75rem;
        line-height: 2.75rem;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        transform: rotate(90deg);
        cursor: pointer;
      }
    }
  }

  &__control_next {
    display: none;

    @media screen and (max-width: 57.625rem) {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
      display: flex;
      align-items: center;
      border-top-left-radius: 0.25rem;
    }

    & .room_images__control_icon {

      @media screen and (max-width: 57.625rem) {
        font-size: 1.5rem;
        height: 2.75rem;
        width: 2.75rem;
        line-height: 2.75rem;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        transform: rotate(90deg);
        cursor: pointer;
      }
    }
  }
}
