mixin checkOption(params)
  - 
    var { label, checked=false } = params
    var classlist = "checkbox__option"
    if (checked) {
      classlist += "_checked"
    }


  div(class=classlist)
    p.checkbox__option_label=label