.checkbox__option,
.checkbox__option_checked {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;
  align-items: center;

  &_label {
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;    
    color: $dark-50;
    margin: 0;
  }

  &::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $dark-25;
    border-radius: 4px;
    box-sizing: border-box;
    content: '';
  }
}

.checkbox__option_checked::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid $primary-purple;
  border-radius: 4px;
  box-sizing: border-box;
  content: '';
}