mixin input(label, placeholder, isMasked=false)

	-
		var classList = "form__input"
		if (isMasked) {
			classList += " form__input_isMasked"
		}

	label.form__input_label
		h3=label
	input( class=classList placeholder=placeholder )&attributes(attributes)
