mixin input(params)

  -
    var { label, placeholder, masked = false } = params
    var classList = "form_input__input"

    if (masked) {
      modClass = "form_input_masked"
    }
   

  .form_input(class=modClass)
    label.form_input__label
      p.like_h3=label
    input( class=classList placeholder=placeholder )&attributes(attributes)
