.form_input {

  &_with_subscription {
    display: grid;
    grid-template-columns: 1fr 44px;

      .form_input__label {
        grid-column: 1/3;
      }

      .form_input__input {
        grid-column: 1/3;
        grid-row: 2;
        padding-right: 44px;
      }
      
    &::after {
      grid-column: 2;
      grid-row: 2;
      font-family: "Material Icons";
      width: 44px;
      height: 44px;
      font-size: 24px;
      line-height: 44px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      content: 'arrow_forward';
      cursor: pointer;
      background: $primary-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__label {
    display: block;
    padding: 3.5px 0 5px 0;
  }

  &__input {
    width: 100%;
    height: 44px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
    margin: 0;

    &::placeholder {
      font-family: Montserrat, Arial, sans-serif;
      font-size: 14px;
      color: $dark-25;
      letter-spacing: -0.01em;
    }

    &_isFocused,
    &:hover,
    &:focus {
      border-color: $dark-50;
      outline: none;
      &::placeholder {
        color: $dark-75;
      }
    }
  }
}
