include ../logo/logo

.colors-n-types
  .logo_wrapper
    +logo({width: "48", height: "48", fill: "#1F2041", fillOpacity: ".25"})
  .colors_wrapper
    include ./color_palettes/color_palettes
  .type_wrapper
    include ./type/type
