@import "../logo/logo.scss";
@import "./palette/palette.scss";
@import "./color_palettes/color_palettes.scss";

.logo {
	position: absolute;
	top: 30px;
	left: 30px;
}

.colors_palettes {
	position: absolute;
	top: 145px;
	left: 149.75px;
}
